[2018-06-11 17:26] doorleyr opened #2 "Readme needs more detailed instructions"
Here's the email I sent to Aalto as a template:

Get the project from Github—make sure you clone the project rather than downloading the zip file because this project is still in development and you will need to get the updates.

- Open Github Desktop
- Click the ‘+’ icon for adding a new repository
- Under ‘Clone’, search for CS_cityscopeJS and select it
- Run a local server:
- navigate to the CS

[2018-06-19 13:47] agrignard commented on #2
I think is issue raise the fact that the trojan readme might be updated now that some potential external user might want to use this repo

[2018-06-19 13:48] agrignard commented on #2
what about a wiki?
https://github.com/CityScope/CS_cityscopeJS/wiki

[2018-06-19 14:13] RELNO commented on #2
@agrignard README+tutorial will be done soon, I'm still very much in WIP [but would be glad to see somebody starting it!]
My plan is to do an 'intro' to CSjs for CS team, get feedback, and then write a clear doc.

[2018-06-19 14:16] agrignard commented on #2
Yep I can be the beta tester if you want (like playing the dumb guy that need to follow step by step tutorial to make it work)

[2018-06-22 01:08] RELNO commented on #3
sovled at https://github.com/CityScope/CS_cityscopeJS/commit/4e747c278c39da429313c1510529ac71a28660ef

[2018-06-23 14:33] RELNO commented on #1
it's CS_CityScopeJS not CS_CityScope, and not 'very redundant'  in my view if this to become a library/npm tool. Also, it's no different from other repos with CS_xxx names. The naming doc was never meant to be restrictive after 'CS_' b/c you then can't have more than one tool per subject [i.e CS_SIMULATION]

[2018-06-23 14:35] RELNO commented on #5
`"objects":{"codes":` removed. As for [1], will close until Thursday, when we'll have a clear view of all changes.

[2018-06-24 20:46] agrignard commented on #5
I reopen it as 1. is necessary to be compatible with v2 https://github.com/CityScope/CS_CityIO_Backend/wiki/Data-Format#mapping-dictionary
we need something like this
[code]

[2018-06-24 20:50] RELNO commented on #5
Fixed as of https://github.com/CityScope/CS_cityscopeJS/commit/de6f760eb8ec116cba2603e6f873be996ff743c6 onwards. Please check before reopening

[2018-06-24 21:00] agrignard commented on #5
I don't see the change on this url
https://cityio.media.mit.edu/api/table/CityScopeJS

[2018-06-24 21:33] agrignard commented on #5
In this issue
1 is not yet solved I made a single issue #7
and
2 is indeed fixed (objects, codes)

[2018-07-22 11:08] RELNO commented on #6
done @https://github.com/CityScope/CS_cityscopeJS/commit/846189bd046263d994ab448a8aaec591e80901e3

[2018-07-22 11:09] RELNO commented on #8
done [in hardcoding for now] @https://github.com/CityScope/CS_cityscopeJS/commit/846189bd046263d994ab448a8aaec591e80901e3

[2018-11-13 14:20] RELNO commented on #9
closing, same as https://github.com/CityScope/CS_cityscopeJS/issues/9

[2018-11-13 14:23] RELNO commented on #10
Thanks for the issue. This is not a CityScopeJS issue but rather cityIO issue [the server side backend]. I'll restart the server and you should be up in ~5 min. For future issues of this kind, please add your issue to: https://github.com/CityScope/CS_CityIO_Backend/issues/46

[2018-11-16 22:48] RELNO commented on #11
Sorry for being pedantic but it would help if we can have these issues broken down to separated ones.
As for the last point -- this might be a bit costly event, as it required `GET` of all table names, parse and match.

[2018-11-18 03:48] tuxun commented on #11
first, the last point (because i like logic ;) ): couldnt the backend answer just answer "busy" instead of "ok" when a legotizer try to push a table with an already existing name? would it be that costly?

secondly, others points are now new issues

[2018-11-18 17:30] RELNO commented on #16
in the tradeoff of legibility vs messing a table every now and then, i prefer letting people reach a certain point where they see the app running without break. I do see an option to add a checker for already existing table in cityIO

[2018-11-18 17:30] RELNO commented on #15
will do, please PR and I'll accept

[2018-11-18 17:35] RELNO commented on #14
As mentioned in #16, breaking source code as safety measure is not the path we'd choose: CityScopeJS is build around the idea of running CS tables with absolute minimal coding skills. This led to a series of decisions [web, js, simple json for settings, cityIO etc]  that are reducing the hassle for newcomers. Let's work on a more UI/UX solution for this!

[2018-11-18 17:39] RELNO commented on #13
legotizer <==> CityScopeJS? Can we call it scanner for clarity? :)
I think you're trying to load a cityIO result JSON as a CityScopeJS settings files, right?
This won't work, the two has different struct/data etc.

[2018-11-18 17:43] RELNO commented on #11
This is how it's done in cityIO frontend:

[code]

Would you care testing this? I reckon this should be done as soon as the user load the local json file. Then, a prompt should force them to change the name and load again  [also, refresh CSjs] if their table name == cityIO active table.
Therefore the checking function only run once per session, so not that costly.

[2018-11-18 17:45] RELNO commented on #11
The key part here is of course:

[code]

[2018-11-18 22:53] tuxun commented on #13
Got it, I thought a setting.json was composed from a setting structure + an empty table, and the cityIO results from the same settings structure +  scanned table.

[2018-11-18 23:15] tuxun commented on #14
an editable text value showing the running server in the option menu?

[2018-11-19 00:03] tuxun commented on #11
You propose we check in the scanner that the table name dont already exist, making an async call, before pushing a new table.

I know that's what i asked, my problem to understand your point is: I after that, I was thinking to issue https://github.com/CityScope/CS_CityIO_Frontend/issues/8 , where my final thought (in my mind, maybe not yet in the post i made) was:
what is the point to check in cli

[2018-11-19 00:06] tuxun commented on #11
we would need a create api entry point?

[2018-11-19 01:52] RELNO commented on #14
what about simply specifying it in the JSON setting file? have a field of server + a field of table name

[2018-11-19 01:55] RELNO commented on #13
it's not far from that, but still the settings files is not simply a strippped version of cityIO. What's the feature then?

[2018-11-19 14:14] RELNO commented on #13
closing for now. tnx

[2018-11-20 09:59] tuxun commented on #15
have you done it? i was stuck in my mind bug: how can i make the difference between a setting json and a table output? is there table output json on github repos?

[2018-11-20 10:07] tuxun commented on #13
Feature would be abilty to get setting from an output table,for example from cityioserver, and to put it in the scanner, meaning we wouldnt need setting.json anymore? and more, but i'm still thinking to it.
if you like the idea to dont have to look for setting.json but start from output table available on cityio server, comment, and i'll make a feature request more documented!

[2018-11-20 10:14] tuxun commented on #14
of course the editable button would load url (and table name?) from setting json, leading to have both a ui/ux and json solution to the " be sure to customize your url and table name if needed" problem

[2018-11-20 10:19] tuxun commented on #14
ps: maybe rename the issues when they are in idea status, and close them not so sooner please, it lost sharing of information and ideas :)

Issues are not only bugs, but incoming ideas, please dont close them so soon. this issue could be tagged as (idea) and renamed  ui/ux: add "table and url additionnal to setting.json" buttons

[2018-11-20 15:00] RELNO commented on #13
we should answer two issues with this:
1. how do one get settings when cityIO is not the server of choice?
2. how one gets settings file if server has no active tables? [like after restart]
3. how one edits the settings after loading them from cityIO

[2018-11-20 15:10] RELNO commented on #15
https://github.com/CityScope/CS_cityscopeJS/commit/d1f9edd7de8cbbaed909c2e366eba34ef0fd3fb5

[2018-12-01 15:43] tuxun commented on #11
do you feel the uggly PR coming? :)

[2018-12-01 16:37] tuxun commented on #11
@RELNO i have a problem of portability of variable:
i try to  `var serverurl=value` in index.js  so we coud use this variable in both datgui.js  and module.js.

datgui.js: for make the "open on cityio" link
module.js: for ask twice if we want overwrite an existing table if its on mit cityio server, or once, if its just one of our existing table on OUR configured cityio server...
It also should be

[2018-12-01 19:51] RELNO commented on #11
i try to var serverurl=value in index.js so we coud use this variable in both datgui.js and module.js.
datgui.js: for make the "open on cityio" link
module.js: for ask twice if we want overwrite an existing table if its on mit cityio server, or once, if its just an existing table on OUR configured cityio server...
It also should be used in the cityiopost() function (still in module.js) instead to

[2019-03-14 00:25] RELNO commented on #11
closing for now. New cityIO features will probably include some of the above.

[2019-05-16 16:03] andredaa opened #1 "wrong lat, long in cityIO json"
Latitude and Longitude are swapped in the table.json
![grafik](https://user-images.githubusercontent.com/4631906/57869160-bbf35700-7804-11e9-8ad2-1e000b54cdd7.png)

The mapping in the table json know these different types
type
0	"street"
1	"housing"
2	"housing2"
3	"working"
4	"working_2"
name	"grasbrook"

in the exposed json however there is also type 5, which doesnt match anything.

[2019-05-22 15:20] RELNO commented on #1
@andredaa thanks for pointing this -- yes, this is a results of the way the table is now set in the lab and should be fixed in the final version. It's a result of the scanning interpreter looking upwards

[2019-05-22 15:21] RELNO commented on #1
type
0	"street"
1	"housing"
2	"housing2"
3	"working"
4	"working_2"
name	"grasbrook"

For now these are placeholder types, as discussed these will be updated as objects so that one type would not matter

[2019-05-22 15:21] #1 closed, assigned to nobody

[2019-09-05 15:46] RELNO opened #3 "Test extents margins"
![19_0412_CityScope_Grasbrook](https://user-images.githubusercontent.com/14296774/64357511-c06d9680-cfd2-11e9-8cea-e40cce9bafd0.jpg)
![19_0905_CityScope_Grasbrook](https://user-images.githubusercontent.com/14296774/64357512-bfd50000-cfd2-11e9-87c5-b391e926477c.jpg)

[2019-09-10 01:24] #3 closed, assigned to nobody

[2019-09-12 02:13] RELNO opened #4 "match trips layer to new deckgl format"
Seems like deckgl updated `tripsLayer` format, so that new format follows:
https://raw.githubusercontent.com/uber-common/deck.gl-data/master/examples/trips/trips-v7.json

We currently use:

[code]
in which the third item is timestamp. This is broken now.
https://github.com/uber/deck.gl/blob/master/docs/layers/trips-layer.md

[2019-10-08 22:10] agrignard commented on #4
Should be fixed in this commit https://github.com/CityScope/CS_Simulation_GAMA/commit/ff440729ad7f6d46f16d0690fd7c1997499d8f85

@RELNO is it possible add a button to trigger on and off the ABM model to test it. the entry point is now tableName/ABM

[2019-10-09 11:05] agrignard opened #5 "Cell Attribute in Full Grid and Interactive grid"
In order to feed the Micro ABM Model we will need to edit the usage of each cell for the full grid and the interactive one.

Right now the usage is the same for every cells. I don't know what will be the process to edit the landuse, for the interactive grid we can imagine to produce this file from the grid value. For the fullGrid we might have to use QGIS to create a static raster representation o

[2019-10-09 11:12] agrignard commented on #4
This one also need to be updated
https://github.com/CityScope/CS_cityscopeJS/blob/master/Grasbrook_GIS/layers_json/trips.json

[2019-10-10 11:17] RELNO commented on #4
At this point no, since the deckgl we use operates on a non-react env., as explained here: https://github.com/uber/deck.gl/blob/master/docs/api-reference/mapbox/overview.md#limitations

This is one more reason why, if we indeed need to depend on deck more, we should consider react.

[2019-10-10 11:22] RELNO commented on #5
Where do we need these two grids values to be edited? within GAMA?
If so, the two grids are stored in cityIO :
https://cityio.media.mit.edu/api/table/__TABLE__/grid_full_table
https://cityio.media.mit.edu/api/table/__TABLE__/grid_interactive_area

Like any other field, these could be updated by any module.

[2019-10-10 11:38] doorleyr commented on #5
I think what's missing from the information on cityIO right now is the baseline land use of each grid cell in grid_full_table. This is not such a big deal for Grasbrook as everything is industrial right now but for example, in the Ford project, the static grid cells all have different LUs.

One possible solution would be for the module that creates /grid_full_table to add the LU information by cro

[2019-10-10 11:45] RELNO commented on #5
It might be tricky to subtract the active grid from the full grid if they do not 100% match (which was the case in Andorra). One way to go about it is to force the active grid to always fall inside the larger one. If we agree on that, than there should only be one grid per table with different attributes. A meta field in that grid will tell users what is the interactive zone(s).

[2019-10-10 12:11] doorleyr commented on #5
Yeah I think that makes sense. I can edit the grid_geojson module to be able to create the meta grid. Then each cell will have an attribute of 'interactive': True/False. The interactive cells will also have an id corresponding to their index in the .../grid data. Makes sense?

[2019-10-10 12:17] RELNO commented on #5
Sounds good to me. On front end, I assume the process to be:
Get grid from cityIO => run over grid and make array of grid cells that are active
then on each cityIO update:
run over interactive array => update

To sort this array in a non-random way, we'll need a serial # for each cell, do we already have that?

[2019-10-10 12:33] doorleyr commented on #5
Yeah that's what I meant about the id corresponding to the index in ../grid_data. I will give the interactive cells a grid_data_id. So then we know that the interactive cell with id _j_ corresponds to the _j_th value in the list of grid data.

[2019-10-10 12:35] RELNO commented on #5
great, that will make it easy to update grid.

[2019-10-10 12:37] RELNO commented on #4
@agrignard https://cityio.media.mit.edu/api/table/grasbrook/ABM seems to have all timestamps set to 500 (so no movement at all) -- It's then hard to see whether the layer loads properly. Can you add some movement?

[2019-10-10 14:24] agrignard commented on #4
done

[2019-10-10 14:29] agrignard commented on #5
I was just mentioning to give a value for usage which is now always "usage":0. This can be done through different software like QGIS or why not GAMA, the question here is what do we want to put here. Right now it is full industrial but when a design will be proposed we will have different usage that will drive the micro ABM model and then potentiallay one grid_full_table per proposal

here https:/

[2019-10-10 16:04] doorleyr commented on #5
Ok a first iteration is done for Grasbrook here:
https://cityio.media.mit.edu/api/table/grasbrook/meta_grid
I can have the same for Detroit pretty soon.

This is just using the land uses that were in the GIS file ('industrial', 'brush') and 'None'. Of course we eventually need to agree on a standard list of land uses that we can use for both projects. For now let's try to converge on a format.

Le

[2019-10-10 16:21] RELNO commented on #5
@doorleyr thanks -- I understand that there's no change to the gejson library itself, only to the output?

[2019-10-11 09:35] doorleyr commented on #5
@RELNO No I had to update the library (74434f1). I extended the grid class with some new methods to extend a simple grid to a composite grid and to cross-reference the cell locations with a land use geojson. See the updated examples.
It's backwards compatible so you should still be able to create a simple grid as before although I had to add 2 new dependencies: numpy and matplotlib.

@agrignard @R

[2019-10-16 13:19] agrignard commented on #4
Any update on this one? Would it be possible to change the entry point to ABM in order to test it ?

[2019-10-16 13:28] RELNO commented on #4
<img width="874" alt="Screen Shot 2019-10-16 at 16 22 59" src="https://user-images.githubusercontent.com/14296774/66923497-9677ad00-f031-11e9-9758-e5772b4c3f3b.png">
The layer is now functional -- however all `mode` are set to 2 -- is this intentional?
I can hardcode the new layer endpoint and deploy as soon as I'm back. If you want to test locally, change the endpoint here: https://github.com/Cit

[2019-10-16 13:50] agrignard commented on #5
@doorleyr to keep the compatibility between cities what about putting at least the actual landuse in GrassBrook? Using the same terminology (https://data.detroitmi.gov/app/parcel-viewer-2) as in detroit so values among "M1,M2,M3,M4 and M5"

https://cityio.media.mit.edu/api/table/grasbrook/meta_grid

[2019-10-16 14:20] agrignard commented on #4
I just want to test it on my personal computer (not the physical table) , no way to change the endpoint and commit it?

Right now I just uploaded the pedestrian agents (2) but can and will be multi modal

[2019-10-16 14:52] agrignard commented on #4
OK so I tried locally with the last commited version on the mastet and change L12
[code]
by
[code]

I don't see anymore the trips but I don't see either the ABM when running

[code]

[2019-10-16 15:10] doorleyr commented on #5
Ok, for consistency sake, I updates Grasbrook meta_grid to have the same codes (just 'M1' or 'None'). But as discussed, we will eventually need to agree on a mapping to LU codes that works for both projects.

[2019-10-17 19:48] agrignard commented on #4
Ok so good news I see something but the rendering is not exactly the same (agents are really small) I guess we need to play a bit with the different parameters even if i don't understand why it's different

[2019-10-17 19:54] agrignard opened #6 "Run CityScopeJS on Detroit"
I am trying to visualize the results of the micro ABM on corktown

Trying this url doesn't work

[code]

What are we missing here? Maybe some meta information in the grid.json?

[2019-10-17 21:03] RELNO commented on #6
There are no grid fields for this table, see https://cityio.media.mit.edu/api/table/grasbrook for `grid_full_table` + `grid_interactive_area`. To init a table properly, use latest cityscopy revision

[2019-10-17 21:08] RELNO commented on #6
closing for now.

[2019-10-17 21:18] RELNO commented on #4
Looking at your data, it looks like you've got 1-3 seconds steps. These will yield very short 'tails' and will move very slow. I suggest to go on 5 min intervals or so.

[code]

[2019-10-17 22:42] RELNO commented on #5
Let me just summarize what we're discussing here, since it involves quite a lot of changes:
- We move from 2 geoJSON grids to one; this affects both the scanner and the front end (will only implement after Mweek)
- This grid is pre-populated with flag for interactivity
- each cell also is pre-populated with initial land uses
- all cells params could be edited by all modules
- land uses are to be s

[2019-10-18 07:02] doorleyr commented on #5
Regarding the 4th point, I was not thinking that any module would be able to update the grid cell attributes. I think that the meta_grid should be created just once and be a static representation of initial land uses. The grid updates would captured in the grid array as normal. Then, for example, the ABM (or any other module) would read the meta_grid data just once and continuously get updates fro

[2019-10-18 13:35] agrignard commented on #6
So I would suggest to leave this issue open until we make it work.

The grid exists in the meta_grid for detroit so I guess it's not that difficult to create the full_table and the interactive one from here (even if for now there is no real interactive area in detroit)

Also I think  we should give the possibility to visualize information even if there is no interactive grid. We might have model t

[2019-10-18 13:43] agrignard commented on #4
this is the timestamps I produce in ABM (every 500 sec) from what I understand if we agree that 1 means 1 sec  then 64500sec is 18hour (from 6am to 12pm) to represent one day
[code]
In the trips layer the value are much more narrow

[code]

[2019-10-18 13:46] RELNO commented on #6
As mentioned in https://github.com/CityScope/CS_cityscopeJS/issues/5#issuecomment-543391585, `meta_grid` is not recognized by the frontend as we never agreed upon the way we want to use grids. Till now, we discussed 2 grids for each table (with Andorra as the extreme case of 2, unaligned grids). I'm in favor of 1 grid with `interactive / non` attributes, but we need to agree on that.

agreed.

[2019-10-18 14:05] RELNO commented on #4
I'm not sure why the timestamps you produce in Gama do not match the timestamps in the triplayer data? There are 86400 sec a day,  you should match your trips to segments on this scale. Ergo: a trip from 0-300 will be a 5 min trip between 12:00:00-12:05:00 AM

[2019-10-18 14:14] doorleyr commented on #6
The 2 (grids grid_full_table + grid_interactive_area) are now there on cityIO for Corktown but it still doesn't work so looks like that's not the problem. I guess CS_CityScoPy does some other initialisation that is necessary. @RELNO What else do we need to initialise to make it work?

[2019-10-18 14:20] RELNO commented on #5
Agreed, however I was under the impression that in some cases, ABM or other module will need to update some data even for non-interactive cells. For example, if the interactive area affects the density of workers in the non-interactive area. This case will require some change to the meta of static cells.

[2019-10-18 14:26] RELNO commented on #6
<img width="690" alt="Screen Shot 2019-10-18 at 10 22 28" src="https://user-images.githubusercontent.com/14296774/67102315-43b50700-f191-11e9-8224-6b7a73c77b11.png">
https://cityio.media.mit.edu/api/table/corktown is missing header & spatial data. This can be produced via cityscopy scanning -- you only need to scan once to get these fields in cityIO. make sure you edit the ___corcktown_settings___

[2019-10-18 14:52] doorleyr commented on #6
Ok I initialised the header data including spatial data. The site now loads and shows the 2 grids but the simulation is not shown. There is also an error because the front_end is expecting accessibility analysis data to be available. Could that be preventing the simulation from loading?

[2019-10-18 15:07] RELNO commented on #6
<img width="886" alt="Screen Shot 2019-10-18 at 11 05 45" src="https://user-images.githubusercontent.com/14296774/67105689-40247e80-f197-11e9-9669-70f85f83ea44.png">

Sim is there, the access layer is not blocking. The new sim endpoint is not yet deployed to GH pages, but it is in the last commit. Run locally with parcel and see the sim.

[2019-10-18 15:36] doorleyr commented on #6
Ok when I run it locally I see that the trips layer is there. But there's something wrong: it doesn't look like your screenshot. There's just a few barely-visible line segments that sort of flicker.

@agrignard is it working for you?

[2019-10-18 15:41] RELNO commented on #6
My screenshot is with trails set to 10000. This is due to @agrignard 1 sec trips intervals discussed at #4.

[2019-10-18 16:31] agrignard commented on #4
We agrred with Ronan to produce content from 6am to 12pm (assuming taht nothing interesting happen during the night)

So that make 64500sec is 18hour if the timestamsp is in sec then the ABM layer is write and then the trips should be modify and I guess the frontend also

@doorleyr what do you think? what is the value that you have in trips?

[2019-10-18 16:36] agrignard commented on #6
Ok working for me we now just need to agree together on #4

[2019-10-18 16:36] #6 closed, assigned to nobody

[2019-10-18 16:39] RELNO commented on #4
@agrignard let's keep the timeframes on 24hrs. Rescaling the time is very error prone, as in the next project we might have a different time frame (nighttime events). The front end can easily have jumps over boring hours, but in terms of looping through the data it is better to keep the day 24*60*60. So if you start your sim at 6AM, start your first timestamp at 6*60*60.

[2019-10-20 17:04] RELNO commented on #4
@agrignard latest build has new ABM layer -- closing for now, let's discuss enhancements offline.

[2019-10-20 17:04] #4 closed, assigned to agrignard

[2019-10-20 21:21] agrignard commented on #5
@doorleyr can you differentiate the landuse in the grasbrook current table. right now we only have M, would it be possible to have M1 for the island and M2 for the rest, it will be easier to constrain the agent in the island area (now there are crossing the water as there is no way to differentiate the landuse)

[2019-10-20 21:35] agrignard commented on #5
Just to be sure we are on the same page right now the usage filed is not corresponding to the interactive grid? But it will?

In
[code]
usage is always equal to 0

It will be necessary to customize the ABM model to know the landuse of the interactive grid

[2019-10-21 11:49] doorleyr commented on #5
@agrignard I don't really understand the issue. The water has a Land Use of 'None' so this should prevent people from going into the water. Also, we already have the agents' home and work locations so presumably the other locations they need to choose are 3rd places which would not be on industrial land uses anyway.

I don't think artificially changing land uses is a good idea. At baseline, the la

[2019-10-21 11:51] doorleyr commented on #5
Regarding the "grid_interactive_area", I think the idea is to eventually just have one grid which includes interactive and non-interactive cells (the meta-grid). So the 2 other grids would not be needed anymore at that point.

[2019-10-21 13:56] agrignard commented on #5
This is to differentiate the 2 site, if I only show the agent form the macro model that's fine, but if we need to show something a bit more interesting than just the commuting so it's necessary to be able to differentiate some part of the area. So for instance some pedestrain could "hangaround" in a specific indutry and some other in the other one. Right now everything is the same so no way to dif

[2019-10-21 14:23] agrignard commented on #5
btw there is only 10 interactive piece in grasbrook

[2019-10-21 14:37] doorleyr commented on #5
Are you talking about in the meta_grid? There are 100 interactive cells in the meta_grid. They are not all consecutive because if you list every grid_cell in order, there are breaks between the interactive cells in each row.

[2019-10-21 14:55] doorleyr commented on #5
I think it's fine to have extra people hanging around but not on industrial sites. At baseline, in Grasbrook the reality is that it's all industrial and nobody hangs around there. Once we start having other land uses in the interactive area (eg. commercial buildings or amenities), then we could have people hanging around that area.

[2019-10-21 18:11] agrignard opened #7 "Add a way to visualize the type of the Agent"
Right now there is a new field called "type" in
[code]
Representing the type of the agent according to this standard
https://github.com/CityScope/CS_Mobility_Service

Woudl be great to have a toggle to visualize it from the frontend.

[2019-10-25 13:07] RELNO commented on #7
done @https://github.com/CityScope/CS_cityscopeJS/commit/159f684ff5c7c697df0a16a53ea81bdca28f6d2f

[2019-10-25 13:07] #7 closed, assigned to RELNO

[2019-10-25 13:09] RELNO opened #8 "Improve road network for GB/CT"
Road network should include more node to improve trips layer accuracy and realism:

<img width="419" alt="Screen Shot 2019-10-25 at 09 08 20" src="https://user-images.githubusercontent.com/14296774/67573783-22ab6380-f707-11e9-81a5-bc6ccc8827cc.png">

[2019-10-25 13:15] RELNO opened #9 "Create lineLayer example from trips"
https://deck.gl/#/documentation/deckgl-api-reference/layers/line-layer

[2019-10-25 13:59] agrignard commented on #8
What about starting with open street map network?

For Hamburg it looks more detailed that what we have now

https://www.openstreetmap.org/search?query=hamburg#map=17/53.53047/10.01657

[2019-10-28 10:57] doorleyr commented on #8
The networks are already from OpenStreetMap. I've looked into this and the problem is not with the networks. If you look at both the GAMA visualisation and the javascript visualisation, you see that in GAMA, the agents follow the road network but in the JS visualisation, they cut a lot of corners. In the two images below, look at the agents arriving at the site and heading towards the interactive

[2019-10-28 11:07] doorleyr commented on #5
As discussed, on creation of the metagrid I will also post to cityIO a dictionary which maps between the index of interactive grid cells to the index of grid cells in the metagrid.
I'll put it in /header/interactive_grid_mapping unless someone objects and wants it somewhere else.

[2019-10-28 14:22] agrignard commented on #8
@doorleyr did you extract it directly from openstreet map or draw it from openstreet map

For me it seems that there is more "vertex" on openstreet map than what we have now
<img width="1131" alt="Screen Shot 2019-10-28 at 10 15 52" src="https://user-images.githubusercontent.com/3928502/67685839-2855b300-f96c-11e9-852e-bc368e4e6f6e.png">

_The best way is to record the position and timestamp of ev

[2019-10-29 11:44] doorleyr commented on #8
I take the road network information directly from OSM but there is some small simplification which converts curved links to straight links. I can change this to not do the simplification but there will be an increase in the number of links. Besides, this only makes a small difference to some trajectories. The larger issue in the JS visualisation is due to the sampling. I created a separate issue a

[2019-10-29 11:49] RELNO commented on #8
In Corktown we've observed the sampling issue more clearly, as some agents follow 90deg turns nicely while other cut corners.

[2019-10-29 12:55] agrignard commented on #8
Again we can increase the sampling (the sampling is not a restriction of GAMA but a restriction of the cityIO/backend design as we don't want to store hundreds of Mb for one table).

So anyway the network need to be also more precise (with a compromise between detail and size). @doorleyr can we check with the none simplify one to see how it look (maybe by differentiated them with 2 different name

[2019-10-30 15:06] agrignard commented on #8
@doorleyr what is your process to extract the road network? Are you taking directly from openstreet map our using an intermediate script? I'd like to test with different qualities of network? Can you point me to the doc/code to extract the network and have it compatible with our tools?

[2019-10-30 15:48] agrignard commented on #5
Ok for me let me knwo when it's ready in order to integrate the block type in the micro mobility model

[2019-10-31 09:52] doorleyr commented on #5
I had problems posting to the header so I've posted to the objects field. It may be a better place anyway.
https://cityio.media.mit.edu/api/table/grasbrook/objects/interactive_grid_mapping
https://cityio.media.mit.edu/api/table/corktown/objects/interactive_grid_mapping

[2019-10-31 19:09] agrignard commented on #5
Cannot access to this one
https://cityio.media.mit.edu/api/table/grasbrook/objects/interactive_grid_mapping

[2019-10-31 21:05] RELNO commented on #5
CityScoPy sends meta table data to `objects` so probably a new scan cycle cleared whatever `objects` had before.

[2019-11-01 10:16] doorleyr commented on #5
@RELNO can you update CitySCoPy so it doesn't do that? We can't have one module with a monopoly on the objects field. You can just post to '.../objects/cityscopy' so it doesn't delete whatever else is in '/objects'

[2019-11-01 13:36] RELNO commented on #5
The agreed module architecture is that each fields cannot have subfields (i.e __table__/f1/f2/f3...) to avoid endless recursiveness. Ergo, `objects` (or any other field) can only be governed by one module. In the past, `objects` was the place where the scanner posts additional types data (i.e, metadata of each type), so I'd suggest to keep it so.
I therefore suggest that the dictionary will have i

[2019-11-01 14:28] doorleyr commented on #5
Ergo?

Ok, posted to new field. @agrignard you can find them at:
https://cityio.media.mit.edu/api/table/corktown/interactive_grid_mapping
https://cityio.media.mit.edu/api/table/grasbrook/interactive_grid_mapping

[2019-11-01 16:14] RELNO commented on #5
https://lmgtfy.com/?q=ergo&pp=1&s=g

[2019-11-01 16:53] doorleyr commented on #5
I know the word. I just expect it from people who wear more tweed.

[2019-11-01 17:23] RELNO commented on #5
https://getyarn.io/yarn-clip/f4186611-44ce-4873-a697-2cf4eee2fe9a

[2019-11-04 21:14] agrignard commented on #5
I can access it

[2019-11-05 16:58] doorleyr commented on #8
I was using a library called [osmnet](https://github.com/UDST/osmnet) which as discussed above was converting some curved links into single straight links for higher efficiency in path-finding. However, since this was affecting the visualisation, I've now updated the code to use the OSM network data exactly.
eg: https://github.com/CityScope/CS_Mobility_Service/blob/master/scripts/cities/Hamburg/cl

[2019-11-05 18:15] doorleyr commented on #8
@agrignard Can you also try the following geojsons:

https://github.com/CityScope/CS_Mobility_Service/blob/master/scripts/cities/Detroit/clean/driving_net_simple.geojson
https://github.com/CityScope/CS_Mobility_Service/blob/master/scripts/cities/Detroit/clean/pt_net_simple.geojson
etc.

These geojsons have MultiLine features. The previous ones had a feature for every road segment. These should be

[2019-11-05 22:00] agrignard commented on #8
Great! much more better!

[2019-11-05 22:22] agrignard commented on #8
However to see it properly in deckgl i need to send a lot of points.

[2019-11-05 22:25] agrignard commented on #8
<img width="1281" alt="Screen Shot 2019-11-05 at 17 24 21" src="https://user-images.githubusercontent.com/3928502/68251456-28e7ec80-fff1-11e9-9daf-1522ae0ebaba.png">

[2019-11-06 18:31] RELNO commented on #9
@doorleyr can you please sketch something?

[2019-11-06 18:38] RELNO opened #10 "Create agglomerated ABM layer"
As discussed, aside from the moving agents vis, we need an aggregated version of ABM trips.
Either on each update cycle (or less, depends of size), we should produce a static layer that shows meeting points/trips agglomerations. A simple starting point will be a heatmap, see  https://cityio.media.mit.edu/api/table/grasbrook/access for data format.

We can visualize it in several ways:

![image](ht

[2019-11-06 19:51] RELNO opened #11 "Converge to single grid source"
Related to #5, we should converge on `https://cityio.media.mit.edu/api/table/grasbrook/interactive_grid_mapping` and `https://cityio.media.mit.edu/api/table/grasbrook/meta_grid` as one grid source.

[2019-11-06 23:08] agrignard commented on #10
I really like the first visualization, I am thinking on how to do this with the GAMA team but it's not that straightforward. it is a kind of smart random offset to apply to the global trajectory

[2019-11-07 02:34] RELNO commented on #11
https://github.com/CityScope/CS_cityscopeJS/commit/6fd5a3427ec3e5fa176de5f08ba3aaba9cb4e585 closes that for the frontend, keeping open till modules converge.

[2019-11-08 14:48] doorleyr commented on #9
@RELNO I put some data in the same format as the deckgl example here: https://cityio.media.mit.edu/api/table/grasbrook/test_line

Let me now how if you want more/less jitter or anything.

[2019-11-08 17:17] RELNO commented on #9
done at https://github.com/CityScope/CS_cityscopeJS/commit/bc29be3cb9abde0868214f9590d0b933ce7f06ec. Still need to implement updates
<img width="910" alt="Screen Shot 2019-11-08 at 12 13 57" src="https://user-images.githubusercontent.com/14296774/68496903-5a46ff00-0221-11ea-91dc-4bc38606f9e7.png">

[2019-11-15 17:00] RELNO commented on #11
looks like this is resolved for modules. Closing for now.

[2019-11-15 17:00] #11 closed, assigned to agrignard, doorleyr, RELNO

[2019-11-15 17:00] RELNO commented on #10
done @ https://github.com/CityScope/CS_cityscopeJS/commit/1f4e83af064a7ad5c06bdb9cf3520ff60b04a108

[2019-11-15 17:00] #10 closed, assigned to agrignard

[2019-11-15 17:01] RELNO commented on #9
done @ https://github.com/CityScope/CS_cityscopeJS/commit/1f4e83af064a7ad5c06bdb9cf3520ff60b04a108

[2019-11-15 17:01] #9 closed, assigned to doorleyr

[2019-11-15 17:01] RELNO commented on #8
done with latest gama update

[2019-11-15 17:01] #8 closed, assigned to agrignard, doorleyr

[2019-11-15 17:02] RELNO commented on #5
looks like this is a `NORMAN-LIZATION` discussion which happens elsewhere now. closing.

[2019-11-15 17:02] #5 closed, assigned to nobody

[2019-11-19 02:49] RELNO opened #12 "Jitter aggregated ABM results"
To improve the visual result of the ABM aggeration, a jitter should be implement to either model or FE. I've created a simple example that adds random to paths:
<img width="827" alt="Screen Shot 2019-11-18 at 16 56 11" src="https://user-images.githubusercontent.com/14296774/69111970-1dfb7600-0a4d-11ea-81bb-4cb2b3ff6d4a.png">

But for more fine tuned version we'll need this to correspond to actual

[2019-11-19 04:25] agrignard commented on #12
What do you mean by "a jitter should be implement to either model or FE"?

In this case you add the random from the front end
https://github.com/CityScope/CS_cityscopeJS/commit/b41ea8db7826bd0d5b582d7fe8c945c3917bf0c4

I think I will soon have also have a version working from the ABM (but I need to test it and I don't know yet the time consumption it can introduce).

If the frontend can handle it

[2019-11-19 04:28] agrignard opened #13 "Cannot access cityscope.media.mit.edu/CS_cityscopeJS"
I am trying to access this url
[code]
but it doesn't work could it be because I am in Vietnam?

[2019-11-19 04:30] agrignard commented on #13
Sorry it is working now

[2019-11-19 04:30] #13 closed, assigned to nobody

[2019-11-19 05:00] agrignard commented on #12
This is what is produced directly from GAMA (the fuzyness and the deviation can be change as a global parameter).

I will try to push soon a version on cityIO to see how it looks

<img width="1163" alt="Screen Shot 2019-11-19 at 11 55 36" src="https://user-images.githubusercontent.com/3928502/69117833-9f8deb00-0ac3-11ea-8bbc-0d9d7893d943.png">

[2019-11-19 13:48] RELNO commented on #12
it means we don't want to have two places where the fuzzy effect takes place, so if GAMA is doing it, FE should not and vice versa.

That's the problem, I can't. So we need to decide. I think GAMA should do it, since I'm not following any OSM path logic (it's really stupid random) but on your side this could show 'real' path finding fuzziness.

Looks good to me

[2019-11-19 13:51] RELNO commented on #13
I won't be surprised if init the table will be quite slow. It's downloading ~10mb on init..

[2019-11-19 15:36] doorleyr opened #14 "Grid data mixes strings and integers"
The grid data for Corktown currently has a mixture of strings and ints. eg. [[1,0, ["1", 0]....]
https://cityio.media.mit.edu/api/table/corktown/grid

This is likely because the new FE interaction sends strings whereas the scanner sends ints.

[2019-11-19 16:17] #14 closed, assigned to nobody

[2019-11-22 13:31] doorleyr opened #15 "Accessibility layers should be based on the data in the geojson rather than a fixed list."
Currently, the Accessibility layer always shows accessibility to Food, Education, Groceries and Nightlife. However, the relevant POIs will be different for different projects. For example, the corktown accessibility data on cityIO now also has accessibility to housing and employment (which update when new housing and employment blocks are added).

https://cityio.media.mit.edu/api/table/corktown/ac

[2019-11-22 13:35] RELNO commented on #15
what is the fastest way to get the list of these pois? fetching the first feature and parsing it's properties ?

[2019-11-22 14:23] doorleyr commented on #15
That's what I would suggest.

[2019-11-22 18:00] RELNO opened #16 "check if grid mapping exit"
besides geoJSON grid and grid

[2019-11-22 18:01] #16 closed, assigned to nobody

[2019-11-22 20:38] #15 closed, assigned to nobody

[2019-11-22 20:39] RELNO commented on #12
as this is done in one way or another, closing for now.

[2019-11-22 20:39] #12 closed, assigned to agrignard

[2020-01-06 19:30] RELNO opened #19 "Fix active layer on init"
on menu, layers should be on/off on init via `config.json`.

[2020-01-06 19:33] RELNO opened #20 "Apply loading spinner when grid updates"
Upon changes to grid (either via UI or from TUI), spinner should indicate await behavior till each module has been successfully updated.

[2020-01-06 19:36] RELNO opened #21 "control requestanimationframe thru UI via redux"
on sun/ABM/animation layers, UI slider should control speed, time and slices of animation.
As of now, only placeholder UI element is present.

[2020-01-06 19:38] RELNO opened #22 "cleanup Map comp"
layer creation / other methods to be moved into separated comp

[2020-01-08 04:36] gok03 commented on #19
What would be the difference between settings.json which is already present and config.json?
And where should be config.json placed in the file stucture.

[2020-01-08 14:07] RELNO commented on #19
That's a typo, should remain settings.json. The issue is that the menu module should init some toggles as on and others as off, but somehow state is not passed well on init.

[2020-01-09 16:46] gok03 commented on #19
Layers having value as true at settings.menu.toggles works well on app init. The state is updated with the values and layers are getting rendered properly.

[2020-01-09 16:53] RELNO commented on #19
after first toggle yes, but there's an issue with `grid` toggle, which is turned off after on any other toggle click first.

[2020-01-09 17:24] gok03 commented on #19
The problem seems to be at the toggleStateArray.
The initial value while setting state for toggleStateArray seems to be [], where as it should be all the toggled on layers(ex- ["GRID", "TEXT"]).

work around should be -

` const [toggleStateArray, setChecked] = React.useState(
        Object.keys(settings.menu.toggles)
        .filter(function(k){return settings.menu.toggles[k]})
        .map(Stri

[2020-01-09 18:33] gok03 commented on #20
Deckgl does not have native methods to support this feature.

This requires the use of react lifecycle methods.
I am trying to achieve this by using `componentWillMount` and `componentDidMount`.
We need to start the spinner when the state is changed for menu items and stop it when render is completed.

[2020-01-09 19:06] RELNO commented on #20
Sure, see the placeholder already in the menu

yes -- it's actually a bit more tricky:
- when new grid edits has been recorded (i.e, the cityIO module gets new grid data), all layers should start spinning to indicate we wait for new module data such as access, abm etc)
- Than, every X ms, the cityio module checks for new data for each layer.
- If new data is there (via hash checking, already imple

[2020-01-09 19:17] RELNO commented on #19
@gok03 very nice, thanks

[2020-01-09 19:17] #19 closed, assigned to nobody

[2020-01-10 17:47] gok03 commented on #20
Need some clarity here,
1. Why to show spinners, when the meta URL call is happening in background. i.e, the sidebar might be closed in the data update intervals. Or should we have a full page loader/spinner.
2. If sidebar is open, Will the spinners be shown for only toggled-on layers when there is a data update?

[2020-01-10 18:32] RELNO commented on #20
in case the sidebar is closed, a small icon should show on some corner to indicate general loading. In the sidebar, we do need to show this for each layer separately.

I guess for both. So that if user uses toggle during loading, they know that current view is still old, and new data is coming. What do you think?

[2020-01-21 17:10] gok03 commented on #20
I think the UI should be consistent irrespective of user actions.
We might have a tag like "Late Updated: 21/1/20 22:36:05" and over this a spinner that gets enabled on data fetch. Once the new data is updated, the tag might be updated with timestamp and spinner is disabled.

[2020-01-22 00:52] RELNO opened #23 "allow multi-finger gestures on touch"

[2020-01-22 00:53] RELNO opened #24 "add cell data popup on hover"

[2020-01-23 14:53] RELNO opened #25 "state update on unmounted comp in cityIO POST"
In certain cases, edit mode POST event returns an error:
[code]

[2020-01-29 20:56] #23 closed, assigned to nobody

[2020-01-29 20:59] RELNO opened #26 "saving camera + keystone position on projection mode"

[2020-01-29 21:01] RELNO opened #27 "universal redux 'ready' state for cityIO"
when ready with cityIO data, allow init of app via redux global state

[2020-01-29 21:02] RELNO opened #28 "create edit selection bar for roads/housing/offices"

[2020-01-29 21:17] RELNO opened #29 "consolidate HTTP req. in a unified service"

[2020-01-31 12:50] doorleyr opened #32 "Trips Layer lines are almost invisible for some cities"
The Trips layer is almost invisible for some cities because the lines are too thin. The thickness looks ok for Grasbrook but for Corktown and Aalto, the lines are very difficult to see. This may be because of the zoom level difference. It may be possible to solve this by using a variable thickness which changes when the zoom level changes. Alternatively, the thickness could be a user input.

<img

[2020-01-31 20:34] #32 closed, assigned to nobody

[2020-01-31 20:35] RELNO commented on #32
<img width="547" alt="Screen Shot 2020-01-31 at 14 39 26" src="https://user-images.githubusercontent.com/14296774/73572580-286bc000-443f-11ea-9e6c-fdcb1f42f9c3.png">

Should be better now, lmk if still too thin.
The agent movements in Aalto seems too fast, is that intentional?

[2020-02-01 22:39] RELNO opened #33 "Redesign menu init state outside reducer.js"
[code]

Should be removed from `reducer`

[2020-02-02 04:25] #28 closed, assigned to nobody

[2020-02-02 04:27] RELNO commented on #25
closed via https://stackoverflow.com/questions/53949393/cant-perform-a-react-state-update-on-an-unmounted-component. Reopen if repeat occurrences.

[2020-02-02 04:27] #25 closed, assigned to nobody

[2020-02-04 15:01] RELNO opened #35 "TUI grid updates should be async'ed"
when updating the TUI grid, hash retrieval is paused on module updating causing unresponsive HCI. Should be converted to async editing

[2020-02-09 02:04] #33 closed, assigned to nobody

[2020-02-09 02:14] #27 closed, assigned to nobody

[2020-02-09 02:31] RELNO commented on #20
Reopening, see #38

[2020-02-09 19:52] RELNO opened #40 "edits are POSTed twice"
It appears that after grid/network edits, `POST`s happen twice.
similar to https://www.freecodecamp.org/forum/t/problems-with-react-rendering-twice/268945

[2020-02-09 22:51] RELNO opened #41 "find symmetric route on grid"
For network editing, diagonal `(a=[x,y], b=[x',y'])` on grid should be approximated using closest vertex on grid until reaching `[x',y']`

o o o o o o o o o o o + + b    |    o o o o o o o o o o o o + b
o o o o o o o o + + + o o o    |    o o o o o o o o o + + + o o
o o o o o o + + o o o o o o    |    o o o o o o + + + o o o o o
o o o + + + o o o o o o o o    |    o o o + + + o o o o o o o o
a + +

[2020-02-11 02:56] #41 closed, assigned to nobody

[2020-02-11 16:01] RELNO commented on #22
done with MapUtils

[2020-02-11 16:01] #22 closed, assigned to nobody

[2020-02-11 18:24] RELNO opened #44 "consolidate data formats"
`meta_grid` => `GEOGRID`

`interactive_grid_data` => `GEOGRIDDATA`: [] created via FE on tool init for the first time

`interactive_network_data` => `GEONETWORK`:[]

`GEOGRID.properties` to include `header`: {}, `mapping` (name to be decided): {}

[2020-02-12 13:15] doorleyr commented on #44
GEOGRID is done for Grasbrook and Corktown.
https://cityio.media.mit.edu/api/table/grasbrook/GEOGRID
https://cityio.media.mit.edu/api/table/corktown/GEOGRID

The grid_geojson module and examples are also updated with 15c6b9040a462fbbefddbf2944a15fe59eb7da4a so you can modify and create new grids if you want.

[2020-02-13 03:05] #44 closed, assigned to doorleyr, RELNO

[2020-02-14 01:03] RELNO opened #46 "Spinner won't stop on non-grid edits"
@yzheng1998: Related to #20,  looks like current spinner only apply to grid edits. So in case edits are done for another module (i.e network) the spinner will spin forever.

[2020-02-14 01:36] RELNO commented on #24
will be solved with edit menu.

[2020-02-14 01:36] #24 closed, assigned to nobody

[2020-02-14 17:04] yzheng1998 opened #48 "Create advanced type editor"
Update type editor as follows
- update the types to be broad, and represented with icons
- when hovering over types, show name
- add an advanced settings tool with the following
    * Height
    * Color
    * Street level

Use flightmapper as a reference
https://flightmapper.io/

[2020-02-14 18:01] doorleyr opened #49 "Radar should populate from /indicators field on cityIO"
Sample fields have been posted to cityIO for Corktown and Grasbrook tables:
https://cityio.media.mit.edu/api/table/corktown/indicators
https://cityio.media.mit.edu/api/table/grasbrook/indicators

[2020-02-14 19:29] #49 closed, assigned to nobody

[2020-02-15 22:17] RELNO opened #51 "sidebar should correspond to API available modules"
sidebar should only allow toggles for existing data layers on the API

[2020-02-16 02:11] #51 closed, assigned to nobody

[2020-02-25 19:10] yzheng1998 opened #55 "TUIgridData error"
When initiating app @ http://localhost:3000/?cityscope=grasbrook

![image](https://user-images.githubusercontent.com/31601104/75277129-71f8c200-57d5-11ea-9869-56442f4f85ff.png)

The issue comes from
_proccessGridData in baseMapUtils.js, with the line:
`let cellValueByIndex = Object.values(types)[TUIgridData[i][0]];`

This is because when `TUIgridData[i][0]` is greater than 4, then there is no type

[2020-02-26 09:48] RELNO commented on #55
@yzheng1998 understood, thanks. To clear `GEOGRIDDATA` (or any field) you can **carefully** use the `clear` API on cityIO: https://github.com/CityScope/CS_CityIO/wiki/API#delete-module-data
Note not to clear the whole table, but only the field in question. Another option to clear a field is to post an empty data to it: `POST https://cityio.media.mit.edu/api/table/update/:tableName/:moduleName`

[2020-02-26 09:48] #48 closed, assigned to nobody

[2020-03-01 21:27] RELNO opened #56 "react ^16.13.0": CityIO Cannot update a component from inside the function body"
[code]

[2020-03-01 21:28] RELNO commented on #55
fixed @ https://github.com/CityScope/CS_cityscopeJS/commit/0efe10f8ce78c27fde45ddb9ea847ebd31475781

[2020-03-01 21:28] #55 closed, assigned to nobody

[2020-03-02 14:36] doorleyr opened #57 "List of possible land-Use types to be table-specific and read from cityIO"
The list of possible LU inputs needs to be different for different tables. Therefore, instead of being read from a static text file, they should be read from cityI/O.
The type definitions for grasbrook, corktown and aalto_02 are currently in the header of the GEOGRID on cityIO.

[2020-03-02 15:12] RELNO commented on #57
Thanks, list looks good. I'm wondering if instead of using `"num":{...attr}"`, we can simply call the type in name: `"name":{...attr}" `. Then, the `grid` field will point to the index in the list. What do you think?

[2020-03-02 17:08] doorleyr commented on #57
If we're using a dictionary with name as key then we can't use numerical indexing. In python for example, dicts are unordered so there is no way to access the ith element of a dict. If we instead use a list of objects with name as an attribute, i.e. [{'name': 'the_first_name', 'attr1': 1 ....} , {'name': 'the_second_name', 'attr1': 2 ....}, then that would work. But that's pretty similar to what w

[2020-03-02 17:43] yzheng1998 opened #58 "Mobility Simulation: connect time slider to simulation"
Additionally create shadows tab that controls only shadows.

[2020-03-02 21:07] #56 closed, assigned to nobody

[2020-03-03 14:02] #58 closed, assigned to nobody

[2020-03-03 18:30] doorleyr opened #60 "Indicators stored in multiple end-points"
Following from the discussion today: there are multiple modules which aggregate their results to create indicators. Currently there is only one /indicators end-point which drives the radar plot. In order to prevent the modules from overwriting each other's updates, I'm currently only allowing one module (CS_Urban_Indicators) to make the updates and this module is responsible for collecting the ind

[2020-03-04 14:55] RELNO commented on #60
I'm not sure I understand why latency is caused; if the radar module is collecting output of multiple other modules, why can't it update as soon as new data arrived (regardless of other modules)?
In any case, multiple indicators endpoints are creating significant overhead on the FE, since I'll have to call each of these end points every 100ms (or so)

[2020-03-04 15:30] RELNO opened #61 "missing mouse data on edit at app init"
`Uncaught TypeError: Cannot read property 'clientX' of undefined`

[2020-03-04 15:30] RELNO commented on #61
@LAAP thanks for finding!

[2020-03-04 15:32] #61 closed, assigned to RELNO

[2020-03-04 17:28] doorleyr commented on #60
I'll try to explain a bit better.
Right now, the density and diversity indicators are updated by one script and the accessibility indicators are computed by another script. These two could potentially be combined but there is at least one other module that will compute indicators and there may be more in the future so I think we need this flexibility. I don't want to allow multiple modules to get

[2020-03-04 23:18] yasushisakai commented on #60
If it's better to be able to post deep nodes I can work on that. In fact, I think being able to choose the best data structure for each project is better. I will put it in my stack.

for the time being, @doorleyr 's suggestion having multiple endpoints for the indicators is the solution. I can see that the frontend can call get requests concurrently.

[2020-03-10 15:38] RELNO opened #62 "test issue"

[2020-03-10 21:00] RELNO commented on #62
problem again!

[2020-03-19 17:18] doorleyr opened #63 "Cells with attribute interactive:false should not be possible to edit using web interface"
The Corktown GEOGRID properties and GEOGRIDDATA has many cells with the property {interactive: False}. Currently, these cells can still be edited on the front-end. As far as I understand, it should not be possible to edit these cells. @RELNO If this is not the case, please tell me how to make some cells non-editable.

[2020-03-19 17:31] doorleyr opened #64 "Some random grid cells can't be edited"
Interacting with the Corktown grid, there seems to be some grid cells which I'm unable to edit. These cells seem to random. See attachment which shows a vertical line of cells and a horizontal line of cells which I can't edit.

<img width="748" alt="Screenshot 2020-03-19 at 17 16 33" src="https://user-images.githubusercontent.com/7722116/77096337-1eaa1600-6a07-11ea-869f-41228af03e65.png">

[2020-03-19 17:33] RELNO commented on #64
![Screen Shot 2020-03-19 at 13 32 58](https://user-images.githubusercontent.com/14296774/77096773-2c9b6f00-69e6-11ea-8c9b-9196313b759e.png)

Looks to me like they follow your non-editable roads?

[2020-03-19 17:59] RELNO commented on #63
I've did a little experiment (see #64 ) : I removed `GEOGRIDDATA` so I only get the grid. The outcome is the same as the one you can see @ #64. So it looks like it comes into data `GEOGRID` holds.

[2020-03-19 19:18] doorleyr commented on #63
Closing this as it seems to be the same as #64

[2020-03-19 19:18] #63 closed, assigned to RELNO

[2020-03-19 19:43] doorleyr commented on #64
It is being driven by the GEOGRID alright but on closer inspection, it's not being driven by the right property. Instead of being driven by the interactive property, it is making any cell with 'land_use' of None as non-interactive. I'm attaching two screenshots from QGIS: the first is highlighting the cells with interactive=True (all the cells that should be interactive) and the other is highlight

[2020-03-19 20:09] RELNO commented on #64
Yes, that's the case. It's a by product of the way we did it for GB, and the lack of standardization in land uses. In other words, there should not be a case of no-land use  and we should only use mapping to trigger interactivity. I can fix it locally but this pings back to @LAAP and Markus work.

[2020-03-20 11:10] doorleyr commented on #64
I can update the Grasbrook GEOGRID so that all of the cells which are supposed to be non-interactive have the property interactive=False. Then if you change the FE to use this criteria instead, we're done.
Even if the mapping were ready, I think the above is the right way to do it, right? I can't see how we could continue to have interactivity driven by the baseline land uses. For example in Corkt

[2020-03-23 02:23] LAAP commented on #57
Dear all,
I am still working on the crosswalk between NAICS with the LBCS (little by little is happening), but I think that so far we can extract 12 "Types" at the "X0000" level that covers most of the "databases-uses". I think that it is a good step for a 1st iteration:

1 | Residential
2 | Shopping
3 | Restaurants
4 | Office
5 | Industrial
6 | Infrastructure
7 | Transportation
8 | Events
9 | Par

[2020-03-23 13:48] yasushisakai commented on #57
There is nothing stopping you from using cityio for this but just asking out of curiosity. Could the land use json be a repo by itself and `get` requested via `https://raw.githubusercontent.com/foo` endpoint? This way the static files can be versioned, and access previous versions via this url (with the commit id).

please disregard if there is dynamic data involved and you actually need a rest ap

[2020-03-23 13:49] yasushisakai commented on #57
you can leverage the pull request governance too to dictate which changes are permitted and which are not. (whic cityio only lets you with coarse auth)

[2020-03-23 17:34] RELNO commented on #64
is this still open or will it be solved with #57 ?

[2020-03-23 17:34] #62 closed, assigned to nobody

[2020-03-23 17:35] RELNO commented on #60
closing after conv. w/ @doorleyr. the issue looks like network speed, not modules.

[2020-03-23 17:35] #60 closed, assigned to RELNO

[2020-03-23 17:38] RELNO commented on #57
@LAAP thanks. One suggestion is that we can use https://cityscope.media.mit.edu/CS_cityscopeJS/ [click on page: data standards]  to keep documentation of types. This documents are all stored here: https://github.com/CityScope/CS_cityscopeJS/tree/master/docs which are `.md` files to which users can PR and issue as needed. This might also answer @yasushisakai question.

[2020-03-23 17:42] RELNO commented on #57
ref'ing our past conv on this https://github.com/CityScope/cityscope.github.io/issues/15

[2020-03-23 17:44] doorleyr commented on #64
I won't be solved by #57. As I outlined above, the interactivity needs to be driven by the 'interactive' flag.

[2020-03-23 18:57] RELNO commented on #64
OK -- currently, the lack of standard data type forces me to render cells per their type (if exist or not). The interactive mapping is also used. As soon as we agree on types standard, we can also agree on the format of the mapping object https://github.com/CityScope/CS_cityscopeJS/blob/master/docs/schema.md

[2020-03-23 20:40] agrignard commented on #57
Some comment
@LAAP and @Markus (withou github account ) I think you are working on this but just to be sure can we work on the same document
Luis one is this one
https://docs.google.com/spreadsheets/d/13doHHa1A4jAQ886ehkBUvIf6j9HDaMF6FZJV5A6fZ68/edit#gid=593854283
and markus on is this one
https://docs.google.com/spreadsheets/d/1S57LJHtZklmHplF08b3oA3qnd8Hx6DqMUQXvj9wO-oU/edit#gid=586484925

Then

[2020-03-23 20:45] agrignard commented on #57
And one last question I guess there is a good reason why 12 types but why The 9 from LBCS were not enough? is it because some of the 12 are not landuse?

[2020-03-23 20:50] LAAP commented on #57
Hi Arnaud,

Markus has unified in his old excel:

https://docs.google.com/spreadsheets/d/1S57LJHtZklmHplF08b3oA3qnd8Hx6DqMUQXvj9wO-oU/edit?ts=5e692a4f&pli=1#gid=586484925

Maybe he will change the name

I am still trying working (when possible) into the correlation between
NICES and LBCS

Best

Luis

El lun., 23 mar. 2020 a las 16:40, Arnaud Grignard (<
notifications@github.com>) escribió:

--
*Dr

[2020-03-23 20:53] LAAP commented on #57
2nd. After correlating the 9 LBCS "Categories/Types/whatever-name" at the level X0000, With the 19 "Categories/Types/whatever-name" of NAICS, the conversion gave us 12 (so far). I think that that will be the final ones, however, it is not set in stone yet

[2020-03-24 15:24] yasushisakai commented on #57
to keep the conversation linear, please disregard my comment earlier.

[2020-03-27 20:04] crisjf opened #65 "Toggle between access variables"
Frontend needs to be able to toggle between different access variables defined as properties of the features of the following geojson:
https://cityio.media.mit.edu/api/table/table_name/access

(take https://cityio.media.mit.edu/api/table/corktown/access as an example)

The relevant line that selects the variable seems to be:
https://github.com/CityScope/CS_cityscopeJS/blob/c493003dd34721b926a75709

[2020-03-28 01:32] RELNO commented on #21
Done by @yzheng1998

[2020-03-28 01:32] #21 closed, assigned to nobody

[2020-03-28 01:33] #20 closed, assigned to nobody

[2020-03-28 01:50] RELNO opened #66 "Redesign sidebar UI to include layers control"
@yzheng1998 following today's conv., it would be good to consolidate fine-grain layers control (ABM, Access, etc) into the sidebar, similar to https://medium.com/@modularcoder/reactjs-multi-level-sidebar-navigation-menu-with-typescrip-materialui-251943c12dda

The idea is that instead of the ABM control panel, the sliders will appear when the layer is on.
Same for Access layer, as mentioned in #65.

[2020-03-29 03:08] crisjf commented on #65
See discussion in:

https://github.com/CityScope/CS_Urban_Indicators/issues/8

[2020-03-31 13:22] RELNO commented on #66
Great start:
- I'm getting this error on init, probably related to spawning multiple menu items without unique keys
![Screen Shot 2020-03-31 at 09 19 57](https://user-images.githubusercontent.com/14296774/78030901-ce995080-7330-11ea-85a4-056cd401860d.png)
- access layer is still not parsed ( I assume it's the To Do?)
- migrate to black theme, similar to the docs mini site

[2020-03-31 13:58] doorleyr commented on #64
There's no need to rely on standards or interactive mappings if we're using the interactive flag as the condition. The interactivity of cells right now is governed by an if statement on line 309 of https://github.com/CityScope/CS_cityscopeJS/blob/master/src/components/baseMap/baseMap.js:

if (
                this.props.selectedType.class === "buildingsClass" &&
                thisCellProps &&

[2020-03-31 15:43] RELNO commented on #64
@doorleyr true, it's a residue from early version that used non types as flags. Care to PR your change?

[2020-04-01 10:02] doorleyr commented on #65
@RELNO this should be good to go from our side. Let me know if there is any issue with the format.

https://cityio.media.mit.edu/api/table/corktown/access

[2020-04-01 10:14] doorleyr commented on #64
Sure
https://github.com/CityScope/CS_cityscopeJS/pull/68

[2020-04-01 11:58] RELNO commented on #65
I'm closing this in favor of progress at #66

[2020-04-01 11:58] #65 closed, assigned to nobody

[2020-04-03 19:30] RELNO commented on #64
closing this given today GH-pages deployment

[2020-04-03 19:30] #64 closed, assigned to nobody

[2020-04-03 19:42] RELNO opened #69 "UI to toggle pre existing states"
This feature will allow loading of preexisting state via UI.
- Users will select a scenario from a UI
- The scenario will load with it's pre-computed layers
- The scenario could be used as template for designing a future design, sort of a starting point
- Scenarios will use the current API of URL query to load, so that not all CS endpoints will hold pre existing states
- The loading mechanism shou

[2020-04-09 09:44] doorleyr commented on #66
The list of access layer names have been hardcoded into the FE:
https://github.com/CityScope/CS_cityscopeJS/blob/master/src/components/menu/AccessSubmenu/index.js
This doesn't work because the list of access variables is not always the same. It will be different in different projects and even in the same project can change over time. Even now, the access layers for Corktown are all mixed up (i.e.

[2020-04-23 11:13] doorleyr opened #72 "Add energy bars and reference indicators to Indicators data viz"
As discussed with @RELNO and @LAAP, the following features (as shown in the attached mock-up) should be added to the indicators data visualisation:
(i) "Energy bars": The indicators for the energy bars and radar chart will be read from the same list stored in the /indicators end-point. The 'type'  attribute will indicate whether an indicator should be added to the radar chart or the energy bar cha

[2020-04-24 15:38] LAAP commented on #72
All @doorleyr 's comments sounds good to me

[2020-04-24 19:50] #66 closed, assigned to nobody

[2020-04-24 19:51] RELNO commented on #29
will attend in next refactoring

[2020-04-24 19:51] #29 closed, assigned to nobody

[2020-04-27 10:28] doorleyr commented on #72
The corktown indicators now all have a 'viz_type' property so the bar chart can now be created:
https://cityio.media.mit.edu/api/table/corktown/indicators

[2020-04-29 16:27] doorleyr commented on #57
Related to progress on https://github.com/CityScope/cityscope.github.io/issues/15

We should now be able to update the FE so that the list of types comes from cityIO rather than the text file.

https://cityio.media.mit.edu/api/table/corktown/GEOGRID/properties/
https://cityio.media.mit.edu/api/table/grasbrook/GEOGRID/properties/

Note that the new attributes (NAICS and LBCS) should not go into the

[2020-04-30 14:42] doorleyr commented on #72
To follow on from discussion with @RELNO earlier, energy bars are looking good but right now, all indicators are appearing on both plots. Instead we should see indicators with "viz-type"="radar" on the radar chart and with "viz-type"="bar" on the bar chart.

Also, can we change the name 'urban matrices' to 'Urban Indicators' in the sidebar? @LAAP would you agree?

[2020-04-30 14:50] RELNO commented on #72
<img width="1150" alt="Screen Shot 2020-04-30 at 10 49 17" src="https://user-images.githubusercontent.com/14296774/80724820-472a3300-8ad0-11ea-93b2-ad3c2434ae7d.png">

done in the PR commit

[2020-04-30 14:54] RELNO commented on #72
<img width="416" alt="Screen Shot 2020-04-30 at 10 54 03" src="https://user-images.githubusercontent.com/14296774/80725329-ecdda200-8ad0-11ea-965b-4d074bfbaf29.png">

@doorleyr @LAAP sounds better to me as well

[2020-04-30 15:14] LAAP commented on #72
@RELNO , It is looking fantastic!

[2020-04-30 15:15] LAAP commented on #72
@RELNO @doorleyr , Yes, I agree "Urban Indicators" is perfect.

[2020-04-30 18:12] RELNO commented on #72
@doorleyr can you run the module for GB as well? currently the data there don't align to the new FE bar chart

[2020-05-02 01:20] RELNO opened #76 "Save grid state to cityio /scenario end point"
@yzheng1998 as discussed, the scenario saving should take place on cityIO, via the UI.
- on load, grid will be replaced with the one in `/scenarios/__s__`
- the loading should trigger a new cityIO POST call (same as `done-edit`)
- there should be a delete option & meta info
-  keep it at ~5 scenarios for now

[2020-06-02 17:23] doorleyr opened #79 "Color trajectories by mode of transport and add a legend"
The trajectories in the /ABM end-point have a mode property, which is a list of length 2.
mode[0]  represents the mode of transport for the trip (0:drive, 1:cycle, 2:walk, 3:pt, 4:shared micromobility, 5:shuttle bus)
mode[1] represents the type of person(commute in, commute out or live_work).

The trajectories in the deckGL layer are currently given one of three colors based on the person type (mo

[2020-06-02 17:56] RELNO commented on #57
#77 closes this, open again if needed

[2020-06-02 17:56] #57 closed, assigned to RELNO

[2020-06-02 17:58] RELNO commented on #40
@yzheng1998 can you take a look as to why `baseMap` renders twice when new `cityio` data arrives?

[2020-06-02 17:59] RELNO opened #80 "refactor redux slider connection"
refactor redux slider connection . It’s not smooth since state is being updated all the time instead of only when leaving the handle.

[2020-06-02 18:08] RELNO commented on #79
Where is this list coming from? do we have it on each table the same from now on? If not, it might be better to rethink the data struct so we can populate more diverse modes/ppl. This will also affect a legend

Sure -- pull before though, since there are quite a lot of changes since yday

[2020-06-02 19:15] doorleyr commented on #79
This is the list of modes for Corktown. Yes, it probably makes more sense to include the mode details as a field specific to the table. Assuming there are N possible modes, we could have a list of length n:
[{'name': 'drive': 'color': [255, 0, 0]},
{'name': 'cycle': 'color': [0, 0, 255]
...}
We could add this to the GEOGRID header? We could also change the /ABM endpoint to be and object with 2 key

[2020-06-02 19:23] RELNO commented on #79
I guess we would want this all in one place. Yes, it will break GB, but we can redo GB.

{'name': 'cycle': 'color': [0, 0, 255]
...}

If we go with changes, let's make it very explicit:

[code]

[2020-06-03 11:46] doorleyr commented on #79
There are two issues with doing it the explicit way above. One is that the trajectory data are already very large and sometimes the packages are even rejected by city_io for being too large. If we replace the integer representing mode with the full description, it will get much larger unnecessarily. Especially if we have multiple categories (i.e. mode, goal) as you suggest.

Secondly, when produci

[2020-06-03 21:06] RELNO commented on #79
it looks like we strongly need a dictionary, so we can avoid all the repeated colors, and other attr. that could be stored somewhere else. So:

[code]

Also to save space, all attr can become single letter trips=>t, path=>p

[2020-06-10 12:41] doorleyr opened #83 "Add a way to create a report for the current table state"
There should be some way to download a report for the current table state which is ideally a csv and includes:
- for each interactive type, the square footages which have been added to the interactive area
- for each indicator, the raw value, normalised value and units (these can all now be found in the /indicators endpoint)

[2020-06-10 22:18] RELNO commented on #83
@doorleyr looking at the way the indicators are built, it will create a beautiful spaghetti to try and collect data from each and consolidate it on the FE for a report. Options are: individual "download" button for radar, area calc, etc OR (cleaner solution) a cityio endpoint that holds these in one place

[2020-06-11 11:39] doorleyr commented on #83
Ok, how about I just add the square meterages as new 'indicators' in the /indicators object. Since they shouldn't be added to charts, the viz-type property can be null so that you don't add them to any charts.

So the indicators object would be something like:
[{'name': 'average salary', 'value': 0.5, 'raw_value': 60000, 'units': 'USD', 'category': 'economic', 'viz-type': 'radar'},
...
...
{'name'

[2020-06-12 14:27] RELNO commented on #83
See 3d551281fd6fdc271be80492b0e54c157589f42c.
Looks like JSON=>CSV conversion is tricky when nested items are involved. for now it works, but more complex data structs might break.
Reopen if not sufficient

[2020-06-12 16:56] doorleyr commented on #83
When I download the data, it's just a json dump with a '.csv' file extension. Also, it includes higher level keys "data", and "children" which are confusing.

[2020-06-12 17:05] RELNO commented on #83
[yes, CSV conversion is not straight forward](https://stackoverflow.com/a/1872081/10220637).  I suggest sticking to JSON

[2020-06-17 10:42] doorleyr commented on #79
I made a new temporary end-point /ABM2 so that we can test this and when we're satisfied we can switch back to using /ABM.

We now have /ABM2/trips which contains the normal DeckGL trips format with two attributes: "mode" and "profile".
https://cityio.media.mit.edu/api/table/corktown/ABM2/trips

We also have /ABM2/attr which explains the possible values for each attribute. This should be used to c

[2020-06-17 10:44] doorleyr opened #84 "Heatmap layers should have legend"
As discussed in a previous team meeting, the accessibility heatmap layers should have a simple color legend from low to high.

[2020-06-17 10:51] doorleyr opened #85 "How to specify the floor limits in type definition"
Some LU types should have a specified maximum number of floors. eg. Parks should be a maximum of 1 floor (or maybe there should be no floor slider and the number of floors defaults to 1). Can this be specified in the types list?

Currently, each type is given a height attribute. eg. {"height": [10} but this just affects the default setting. Can the limit also be specified here?

[2020-06-17 10:59] doorleyr opened #86 "Minor Text Changes"
1) At the top of the layer selction panel, there is the text CityScopeJS. Can we change this to something like "CityScope Layers"

2) Can we add tooltips for the 4 icons on the top left of the main screen ( Select Layers, Edit Land Uses, and View Orientation and ??). The 4th button doesn't seem to do anything. Can it be removed if so?

[2020-06-17 11:02] doorleyr commented on #83
Looking good now. Is it possible to remove the top level keys (data, children) and just return the actual data?

[2020-06-17 17:12] doorleyr commented on #85
Types with no height attribute will always have 1 floor and there will be no slider.

[2020-06-17 17:13] doorleyr commented on #86
If tooltips can't be added easily, just add static text for each icon instead.

[2020-06-18 02:19] #83 closed, assigned to RELNO

[2020-06-18 02:19] #84 closed, assigned to RELNO

[2020-06-18 02:19] #85 closed, assigned to nobody

[2020-06-18 08:07] doorleyr commented on #86
nice. Just one spelling mistake: visability-> visibility.

[2020-06-19 13:23] doorleyr commented on #72
It should be possible to have both scenario indicators and reference indicators on the same plot. As shown in the original issue above:

eg.
If every indicator  is formatted contains both 'value' and 'ref_value' as in the example below, then the radar plot should have a 'reference' radar and a 'scenario' radar. Similarly the bar plot should have 'reference' bars and 'scenario' bars. There should a

[2020-06-19 14:43] doorleyr commented on #79
The mode legend should update when the data in "/ABM/attr" change. This will allow us to have a percentage displayed which updates when new results are available. eg. the attr may contain as object as follows where the names change dynamically:
'''
{
  "mode": {
    "0": {
      "color": "#e41a1d",
      "name": "Drive 80%"
    },
    "1": {
      "color": "#377eb8",
      "name": "Cycle: 5%"

[2020-06-23 16:46] RELNO commented on #86
Open again if not done

[2020-06-23 16:46] #86 closed, assigned to nobody

[2020-06-23 19:28] RELNO commented on #79
@doorleyr I can't see the other ABM2 endpoint, it might got deleted in the latest cityIO reset.
In any case, how about this structure:

[code]

[2020-06-23 20:07] doorleyr commented on #79
/ABM2 should be back now. The structure you showed above is fine for this project as the priority is to show modes. However, do we want to allow for other properties to be used for the color and legend? eg. in the /ABM2 data, I have given every trip 2 attributes: mode and profile. I also put the mappings for both of these attributes in the /ABM2/attr field. There could therefore be an option on th

[2020-06-24 13:28] RELNO commented on #79
- A few questions on ABM2:

- in trips, `mode` & `profile` are strings, can they be int?
- in `attr` you use array for mode & profile; a key value (name:color) looks to me easier to read/handle. I know it will grow the size of the package, but for that we can do one letter as ket ("h" for homemaker) and in `attr` add a simple dict to translate one letter to full name.

[2020-06-25 10:56] doorleyr commented on #79
In the trips data, I could use ints for mode and profile. However, these numbers act as ids for looking up attributes and they are keys in the attr object. Therefore, they have to be strings in attr. So then you would need to convert them to strings at some point in order to look up the attributes.

I'm not sure I understand this comment. There are no arrays in 'attr', only key value pairs. I thin

[2020-07-01 00:55] #76 closed, assigned to nobody

[2020-07-01 00:58] #79 closed, assigned to RELNO

[2020-07-31 14:32] #80 closed, assigned to yzheng1998

[2020-08-04 13:20] #46 closed, assigned to nobody

[2020-08-11 10:44] yzheng1998 opened #96 "Dragging to edit persists after you close out edit mode"
When you close edit mode, you can still drag to edit the base map. Probably due to a bug in the basemap-rfc PR.

[2020-08-11 10:52] yzheng1998 commented on #40
I am not getting this behavior. Perhaps this is already fixed?

[2020-08-11 15:56] RELNO commented on #40
yes, looks like it's solved

[2020-08-11 15:56] #40 closed, assigned to nobody

[2020-08-11 15:57] #96 closed, assigned to nobody

[2020-08-11 16:01] RELNO commented on #69
closed with #75

[2020-08-11 16:01] #69 closed, assigned to nobody

[2020-08-11 16:03] RELNO opened #98 "Failed prop type: Invalid prop `value` supplied to `ForwardRef(Slider)` on None type"
<img width="859" alt="Screen Shot 2020-08-11 at 12 00 40" src="https://user-images.githubusercontent.com/14296774/89920601-981aee80-dbca-11ea-8c14-c7a8b1c65d25.png">

[2020-09-14 15:58] crisjf opened #100 "Feature request: Hoover tooltip to show accessibility indicator values"
I see a hoover tooltip that shows the properties of the cell. Could it also show the properties for the selected accessibility indicator? This would help with debugging an indicator and make the data more transparent.

![image](https://user-images.githubusercontent.com/8973959/93108915-67265180-f681-11ea-90a3-2eafdad41886.png)
![image](https://user-images.githubusercontent.com/8973959/93108928-6d1

[2020-11-02 19:02] agrignard opened #103 "Changing lat and long on the fly for an already existing table from the CityScope Grid Editor"
I am trying to create a Lyon table which is here (https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=lyon)
This is where the table is in the editor
<img width="681" alt="Screenshot 2020-11-02 at 19 59 39" src="https://user-images.githubusercontent.com/3928502/97907780-10b2c680-1d46-11eb-958e-0f6830f53c23.png">
and where it is in the frontend a bit more in the north at the initial lat, long

[2020-11-02 19:09] RELNO commented on #103
@agrignard thanks, I see a new `cross origin` issue -- might be new server defense, will investigate:

[code]

[2020-11-02 19:23] #103 closed, assigned to nobody

[2020-11-02 19:50] agrignard commented on #103
Ok cool it's working for me too

[2020-11-04 09:35] agrignard opened #104 "Cannot close layer window from front end"
**Problem:**
After opening the Open Layer Window, it's not possible to close it and we cannot zoom anymore in the map (unless you relaod the page)
<img width="1389" alt="Screenshot 2020-11-04 at 13 24 56" src="https://user-images.githubusercontent.com/3928502/98111618-28eb2880-1ea1-11eb-9d0a-93f48f53bab5.png">

**Solution**
I would assume that the user can close this layer with a button and also b

[2020-11-04 15:02] RELNO commented on #104
Cannot reproduce.. did you tried simply clicking on the map?

[2020-11-04 15:50] agrignard opened #105 "Heatmap/Access entry point"
By working on this issue https://github.com/CityScope/CS_Simulation_GAMA/issues/138 I realize that when we speak about heatmap we refer to accessibility. This is a great feature and we should keep it, however I think we should also think about another structure (or refactoring and renaming the access one) for other kind of heatmap.

Just as en example imagine if we want to send for instance a temp

[2020-11-04 16:10] RELNO commented on #105
@yzheng1998 and I are already working in this direction (see https://github.com/CityScope/CS_cityscopeJS/pull/102). It is doable of course, but there are a few limitations, since we must make sure the data fits the rendering we want (heatmap, lines, pnts, trips etc..)

In the end, we will get closer to kepler.gl approach, which is quite agnostic to data format. But it's a long way ;)

[2020-11-04 16:15] agrignard commented on #104
Ok sorry may bad I am getting old I was looking for a button... it works when clicking on the screen but is it really intuitive? (maybe an additional button like a back arrow for old due like me can be complementary?)

or what about keeping the possibility to scroll even if there is the toolbar? maybe a problem of focus?

[2020-11-04 16:19] RELNO commented on #104
Possible, we did that for the champscope. here it was actually by design, since when you project on a table you'd prefer not to have pinned items over the map (i.e Temp Drawer API https://material-ui.com/components/drawers/#temporary-drawer)

[2020-11-06 19:54] crisjf opened #106 "Edit mode with high frequency indicator updates"
We might want to stop the indicator update in the front end when you enter edit mode. The way ABM indicators work in GAMABrix is that it starts posting information right away, even if it has not computed the whole simulation. That avoids huge lags in the front end between grid update and "I see the cool dots moving." The issue we're seeing is that when GAMABrix is posting new updates, the front en

[2020-11-08 00:54] LAAP commented on #103
Awesome Lyon-Scope!!! ;)

[2020-11-12 02:08] #104 closed, assigned to RELNO

[2020-11-12 15:26] crisjf commented on #106
Here's a table that we can use to fix this:
https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=dungeonmodule

There's a GAMA module running in `csmodules` that is listening to updates from this table.

As soon as you push an update to the grid, the module will start updating every few seconds and that will block any further updates to the grid until the simulation is completely done.
![imag

[2020-11-12 19:07] RELNO commented on #106
I've looked into it and not sure how to do that without deep refactoring the system (both FE & cityIO). The system is designed for one module update per each design intervention (you move a Lego brick, you get one compute cycle). What you're creating is torrent of results, disconnected from the actual edit. This has two issues: 1. your ABM hash in cityIO will always update, so that other endpoints

[2020-11-12 19:12] crisjf commented on #106
Ok, this will be important also because it will inform how python brix will handle simulation-like indicators.

I'll make sure that each complete simulation posts only two times, first quickly after the grid update to get rid of any front end lags that are annoying during demos, and second time with the full simulation results. Will this solve the issue?

[2020-11-12 19:15] RELNO commented on #106
it will probably solve the FE issue, but less so the notion that a module only responds once to an edit. Think of it this way: if you have `crisAwesome` module that gets the last ABM sim results and do something with it, which hash are you looking for?

[2020-11-12 19:41] crisjf commented on #106
How frequently do users build modules based on the results of other modules that they can access only through cityio? the only alternative that I see is to wait the 5 minutes or so that the simulation takes to run and post that, but then the front end user is waiting for 5 minutes for something. I think the problem of a long lag is more common than the bottleneck issue for modules. Or am I wrong?

[2020-11-12 19:48] RELNO commented on #106
Not a ton, but in fact we had it the other way around in Grasbrook/Corktown when at some point, ABM sim was only informed by another mobility module. I guess It is not so much about what we do now, more how we hope ppl will use this architecture in the future.

True, but I'd then look back at why my module is computing for so long. We had a similar issue in Hamburg with noise simulation (that cann

[2020-11-12 20:45] crisjf commented on #106
I'll implement two bursts of data for now for GAMA but let's remember this in case someone wants to develop modules that rely on a GAMA module.

[2020-11-12 20:45] #106 closed, assigned to crisjf, RELNO

[2020-11-23 14:43] agrignard opened #107 "Inconsistency between type definition in different table"
Something related to the way type are created/Stored is different in this table
https://cityio.media.mit.edu/api/table/team-1/
vs this one
https://cityio.media.mit.edu/api/table/dungeonmaster/

This imply this issue https://github.com/CityScope/CS_Simulation_GAMA/issues/155

[2020-11-23 15:01] agrignard commented on #107
According to https://github.com/CityScope/CS_Simulation_GAMA/issues/155 there is now a label ```name``` in properties of the GEOGRIDDATA,  it would make more sense to call it ```type ```no?

In anycase this modification implies a slight change in the way GAMA handles object which is a bit problematic, if there is a label names it will create an instance of this name for now and not an instance of

[2020-11-23 17:26] crisjf opened #108 "Need to edit grid twice for `GEOGRIDDATA` to work"
Here's how to reproduce the issue:

1. Create a new table at https://cityscope.media.mit.edu/CS_cityscopeJS/, and check `GEOGRIDDATA`, which is empty, and that's fine:
![image](https://user-images.githubusercontent.com/8973959/99994349-df4a7b00-2d86-11eb-90dc-f37b300ad069.png)

2. Edit a few cells and update grid. Then check `GEOGRIDDATA` again, not it's not empty, BUT it's still not complete (`id

[2020-11-23 18:22] RELNO commented on #107
I can't recall when the decision to call it `name` was made -- I'm ok with both, but this might break things with modules. In a conceptual level, there are no more types anymore, since a type is only the sum of different LBCS/NAICS tags. So for example, the `name` is just how my table will define a `road` but your table would have a different definition to what `road` means

[2020-11-23 19:00] #108 closed, assigned to nobody

[2020-11-23 19:02] RELNO commented on #108
@crisjf great find. Fixed with creating IDs already on the editor, so new tables will have them by default. Also `GEOGRIDDATA` won't be empty anymore, so with each new grid, GEOGRIDDATA will be a mirror of GEOGRID

[2020-11-24 08:08] agrignard commented on #107
This one has been fixed  CityScope/CS_Simulation_GAMA#155. So it's ok for me. However I am not sure about the meaning of this label ```name``` (for me as it is now it represents more the name of the class or the type) and a name is more something unique like a road name can be Road 66 or Mass Ave, not the name of the class. I let you close this issue if you think it's ok like that

[2020-11-24 17:28] agrignard opened #109 "Adding a north orientation button"
I know it's an old problem/discussion that we always have but I am wondering if it make sense to add a "facing north" button in the interface to give the possibility to the user to be sure that the map is aligned with the north.

For now this introduce this issue in Gama https://github.com/CityScope/CS_Simulation_GAMA/issues/159 that might be fixed with the orientation variable. However it needs t

[2020-11-25 08:57] #107 closed, assigned to nobody

[2020-12-07 16:16] Claudio9701 opened #110 "Feature Request: Use OSM data to set grid cell land use"
Hi! I was wondering if there is anyone currently working on this feature? I started to check if it is possible to do this on this [issue](https://github.com/CityScope/CS_Brix/issues/14#issuecomment-739553732), but it was the wrong repo.

I have already played a bit with the idea but in Python on this [colab](https://colab.research.google.com/drive/1WjDXdYBoSsugDwVF0W5YdhtcN5D9UGj3?usp=sharing). Ev

[2020-12-07 16:28] RELNO commented on #110
Thanks @Claudio9701 -- it's a great feature and I'd love to think of it as soon as I've more time.
In the meantime, if you want to take a stab:
https://github.com/CityScope/CS_cityscopeJS/blob/master/src/components/GridEditor/EditorMenu/GridProps/GridMaker/GridMaker.js is where one creats a random grid whcih is populated with the types in types table below.
This calls https://github.com/CityScope/

[2020-12-11 08:16] Claudio9701 commented on #110
Hi :wave:

I'm working on this [observablehq notebook](https://observablehq.com/d/91be7c93ca95ae73) to test the implementation. At this moment I have been able to query osm and do some spatial data processing (buffering and enveloping points). The next steps are:
- Assign a valid land-use to the osm data
- Calculate grid cell centroids
- Get land-use for each cell centroid

[2020-12-11 17:44] RELNO commented on #110
@Claudio9701 looks like a great start! Keep in mind that in CSjs grid editor, most of the above would be already done by the tool (getting grid, finding grid points, etc). What the editor currently missing is your last  part, where you correlate land uses to grid cells. When you're done, we'll see how to built this directly into the editor.

[2020-12-12 06:29] Claudio9701 commented on #110
@RELNO I was able to finish the steps, the final result looks like this:

![image](https://user-images.githubusercontent.com/24416566/101977073-f6a7b600-3c18-11eb-9a12-4ee448a51aa7.png)

Nevertheless, I consider that is too "naive" to assign the default landuse Residential, maybe It would be better to get the road network, filter cells that intersect with it, and set landuse to none or something s

[2020-12-12 22:22] RELNO commented on #110
@Claudio9701 looks great -- I think that the logic is clearly there, now it's a matter of building it into the editor app.
One question @crisjf  and I discussed is that the 'types' (land uses) in the editor app are created by the user, not pulled from OSM. I wonder how would we match the users' type lists to what we get from OSM.

[2020-12-12 22:37] Claudio9701 commented on #110
@RELNO thanks, yes I will try to implement this in the codebase and give you the updates.

Considering user-defined land uses may be out of the scope. I think of this feature as a helper to initialize the grid with land uses "best guess" using OSM data but further customization may require user intervention. Despite this, a solution can be implementing a form and use it to generate a custom `set_l

[2020-12-14 19:38] crisjf commented on #110
@RELNO a solution would be that the user defines a map between their defined uses and the OSM tags. Much like the user now defines the map between the `types` and `NAICS` or `LBCS`. Enforce that mapping to be 1-1 and you're done.

[2020-12-14 20:50] RELNO commented on #110
Both solutions are valid -- I'm personally leaning towards a solution that basically lets the use decide what set of land uses ('types') they would like to have. If the user clicks the 'get grid data from OSM', that grid will be populated with OSM vals.
Otherwise, the grid will be random set of land uses from the user list (as it is today). In both cases, the user could overwrite OSM or random gri

[2020-12-24 20:25] Claudio9701 commented on #110
Hi! I've made some advancements with the implementation [here](https://github.com/Claudio9701/CS_cityscopeJS).

![output](https://user-images.githubusercontent.com/24416566/103105457-f71e5480-45fb-11eb-913f-3969aaf62576.gif)

My main concerns with this are:

1. Assign an "intelligent" default land-use (catch roads, water sources, among others) (https://wiki.openstreetmap.org/wiki/Tag:place%3Dsea,

[2020-12-24 21:21] RELNO commented on #110
@Claudio9701 very exciting!
I could not get this work more then once (see the crash report below),  but this is very much along the lines of what we should have, great job!
A few comments/ideas:
- I don't think we need to map the types to OSM; In other words, if the user selects 'get types from OSM', then a set of new types should be added to the table, stemming from OSM layer data. The user will

[2020-12-24 23:09] Claudio9701 commented on #110
Thanks for the quick answer!

- I think that would be easier. Just to be sure I'm getting this right, does the set of new types are the ones from the [OSM landuse key wikipage](https://wiki.openstreetmap.org/wiki/Key:landuse)? If this is the case is worth noting that there are [other OSM tags used for reporting landuse](https://wiki.openstreetmap.org/wiki/Land_use)
- Oh that's great, I will check

[2020-12-25 14:36] RELNO commented on #110
we need to find a way to convert OSM default landuse values (from whichever source) to CityScope types with LBCS params. I would go with the most common/used OSM landuse system (is this the one? https://wiki.openstreetmap.org/wiki/Key:landuse) and use a conversion method as shown here:  https://www.researchgate.net/publication/322089643_Quantitative_Comparison_of_Open-Source_Data_for_Fine-Grain_Ma

[2020-12-28 20:42] crisjf commented on #110
I've tried using the `landuse` tag before. Be aware that it is very sparse. I know that @doorleyr usually uses a combination of multiple tags.

Here's an example:
[code]

[2020-12-28 22:10] RELNO commented on #110
@crisjf what's you take on https://github.com/CityScope/CS_cityscopeJS/issues/110#issuecomment-751257756? how would you go by grabbing LBCS/NAICS for a random OSM tag?

[2020-12-28 22:25] crisjf commented on #110
The paper looks like a great starting point!

[2021-01-17 06:02] takesei opened #113 "[Question] Can I make a new grid in a foreign country?"
Hello!!

I'm trying to make a new grid using the CityscopeJS editor.
https://cityscope.media.mit.edu/CS_cityscopeJS/?editor

Since I want to try some simulators in my city, I inputted the (139.729563, 35.659369) in the latitude & longitude boxes.
However, when I tap the `center map` button with those values, Cityscope JS suddenly blackout (also, `create grid` button doesn't work either).
Does this

[2021-01-17 15:47] RELNO commented on #113
Hi @takesei,

Looks like it's a case of lat-long/long-lat flip, [which is a common issue with geosystems](https://stackoverflow.com/questions/18636564/lat-long-or-long-lat). The coordination system is there for edge cases, in which there's too much variance between the grid and the 'real' location. For most use cases, the current coordsys should be enough.
For testing, I've flipped the coordinates

[2021-01-17 15:47] #113 closed, assigned to nobody

[2021-01-22 23:04] guadalupebabio opened #114 "New description feature on Types Editor"
In the Types Editor add a new feature that allows user to add comments/description of the use inputed.

[2021-01-23 04:35] RELNO commented on #114
closed with 1f36e43a602d516689fdbab73be853390f2720bd. Add types info in editor. Note: will only be part of next version.
<img width="281" alt="Screen Shot 2021-01-22 at 23 32 45" src="https://user-images.githubusercontent.com/14296774/105568809-3d092e00-5d0a-11eb-8ecf-eb1b07488445.png">

[2021-01-23 04:35] #114 closed, assigned to nobody

[2021-01-23 10:02] takesei opened #115 "[Question] What's the 'proportion' in the TYPE?"
Hello!!

When I read the `types` properties in `GEOGRID`, I found the property named `proportion`, and I'm not sure how this value makes any changes in CityScope system.
<img width="211" alt="Screen Shot 2021-01-23 at 18 47 57" src="https://user-images.githubusercontent.com/10820903/105575048-ff5ce180-5dab-11eb-90d6-0a6cec8cfd2f.png">

This topic isn't covered in the document (https://cityscope.me

[2021-01-24 01:32] RELNO commented on #115
@takesei thanks for your input. Indeed, our docs need more work..I'll add an issue to clarify this.

As you've discovered in https://cityscope.media.mit.edu/docs/modules/Types%20System, the "P" is indeed a proportion ratio of a sub-type within a type, and it should always be equal to 1 as described here:
![image](https://user-images.githubusercontent.com/14296774/105618824-c0358d00-5db9-11eb-8243-

[2021-01-24 01:32] #115 closed, assigned to nobody

[2021-02-02 21:25] RELNO opened #117 "Grid editor crash upon remove of type if not creating new grid"
from Guadalupe:  if one attempts to remove a type after using JSON download without recreating the grid, the app crash.

should be: download can only be used after new grid was created

[2021-03-03 23:08] RELNO commented on #98
@isoiso123 thanks for reporting. Please checkout current version #118 and let me know if this happens again

[2021-03-10 01:37] RELNO commented on #72
closed with V2

[2021-03-10 01:37] #72 closed, assigned to RELNO

[2021-03-10 01:39] #105 closed, assigned to agrignard, doorleyr, RELNO

[2021-03-10 01:40] RELNO commented on #98
closing for now, @isoiso123 feel free to reopen if V2 doesn't fix it.

[2021-03-10 01:40] #98 closed, assigned to nobody

[2021-03-10 01:41] #35 closed, assigned to nobody

[2021-03-28 23:27] guadalupebabio opened #119 "Info option: add the possibility to render text as an output"
Add a new feature that allows the front end to visualize text (tips, suggestions, etc). It would be a similar to the radar or the bars but in this case printing text. Ideally, later can be added to Brix @crisjf.
It should be located in the left part of the interface since it is an output of the simulation (below the radar in the image attached).
<img width="1440" alt="Screen Shot 2021-03-28 at 7 1

[2021-03-28 23:32] guadalupebabio opened #120 "Parent Option in Types Editor"
There might be some projects where there are categories, like TeraScope with Electricity, Sanitation, etc. A useful option would be to add the parent possibility after `Type` , this would allow the interface to group land-uses or as in my case technologies.
<img width="675" alt="Screen Shot 2021-03-28 at 7 28 15 PM" src="https://user-images.githubusercontent.com/38555658/112771831-bfa8b500-8ffb-11

[2021-03-28 23:39] guadalupebabio opened #121 "(New) Toggle button in editor"
The scenarios feature is tied to the grid data update. To be able to have scenarios (e.g. "shared economy" yes/no) without interfering on the grid it would be really useful to add the possibility to create toggle buttons in the editor. Users would be able to customize certain parameters to influence the output of the simulation.

[2021-03-28 23:56] guadalupebabio opened #122 "Interface suggestion - Overflowing content on 'Grid Edit', 'Scenarios' and 'View Options'"
Whenever there are too many types the user might not get to see the view options and scenarios. I suggest that each of them has fix dimensions and the containers use the [overflow](https://www.w3schools.com/css/css_overflow.asp) property.
This is the case of the table that I am creating. Also, whenever the container cuts information it should be in the middle of the type to suggest the user that t

[2021-03-29 03:12] RELNO commented on #119
![Screen Shot 2021-03-28 at 11 09 53 PM](https://user-images.githubusercontent.com/14296774/112782401-ed512680-901a-11eb-9531-5c493e1ac3be.png)

See https://github.com/CityScope/CS_cityscopeJS/commit/6a01f3231ef57bf8802604e7c726a55330637141. if you add 'textual' module in this format:

[code]
it will render text in the given grid cell.

[2021-03-29 03:12] #119 closed, assigned to nobody

[2021-03-29 03:15] RELNO commented on #120
given most table has maximal mun. of type <20, I think it is not crucial for now. I'll keep this in mind for future use cases.

[2021-03-29 03:15] #120 closed, assigned to nobody

[2021-03-29 13:56] RELNO commented on #121
there are a couple of issues to address before we can add this feature:
- cityio updates happen when the user is sending the grid via a button. How would these buttons/toggles send their interaction? If we let the user toggle and then wait until they already send the grid, the experience will be odd (toggle that does nothing)
- If we send right away, that means users will interact with the server

[2021-03-29 14:37] guadalupebabio commented on #121
- if the toggle appears in the View Option,  what it would need to do is to create a filter in the front-end that would modify the accessibility Analysis displayed, the radar, etc. I would create two indicators for each commit that would be filtered by the toggle (e.g. radar_now, rada_50years)
- if the toggle is modified before committing to city IO, then the simulation would only send one option.

[2021-03-29 16:06] guadalupebabio commented on #119
This should be posted to `http://cityio.media.mit.edu/api/table/lomas/TEXTUAL` right?

[2021-03-29 16:08] RELNO commented on #119
Correct, but note that this is a pre- published version.

[2021-03-30 13:57] RELNO commented on #26
done with 954a705168daafb0ff052b42d88baeb9420089be

[2021-03-30 13:57] #26 closed, assigned to nobody

[2021-03-31 19:44] guadalupebabio opened #123 "Bars chart with error bars"
Would it be possible to add the possibility of error bars to the current ones?. It would look something like this:
![image](https://user-images.githubusercontent.com/38555658/113200864-d9820c00-9236-11eb-8852-c6236c176786.png)
with the data  formatted as:
`Bar =[
      {'name': 'Energy Performance ', 'value': [0.3, 0.2, 0.5], 'viz_type': 'bar'}
]`
where `'value': [bar value, lower error, higher er

[2021-04-01 15:37] RELNO commented on #123
Unfortunately not at this moment. We're using a soon-to-be deprecated API for the data-viz functions, which is very buggy and limited. If you like, draft a simple boilerplate example for the data using https://recharts.org/en-US/examples/LineBarAreaComposedChart and I'll be happy to take a look.

[2021-04-01 23:29] guadalupebabio commented on #123
I couldn't find any option to create error bars in the Recharts library, but I found something that works on [DevExtreme](https://js.devexpress.com) (not sure if it is a good one). The script could look like this:

[code]

[2021-04-09 23:33] RELNO opened #125 "Stop receiving cityIO updates when in edit mode"
per @crisjf suggestion

[2021-04-12 17:10] doorleyr opened #126 "Toggle buttons not working in side pane"
All of the toggle buttons ('Aggregated Trips', 'Mobility Simulation' etc.) stop working during the session. This only started to happen very recently (in the past couple of days). The first time I press one of these buttons during a session it will work. But after this, if I try to press the same button or any other toggle buttons, they don't work (i.e. they stay in the same state). I have to refr

[2021-04-13 01:44] RELNO commented on #125
looks like #126 is caused by this. I'll revert for the time being, and will refactor to fix both.

[2021-04-13 01:52] RELNO commented on #126
Thanks, good catch. I've rebased to prev. commit to address the issue, but will have to refactor later to really fix. Problem is with an aging API for global state management that is getting very slow till total halt (which is what happened in this case). I'll deprecate it as part of CSjs 2.1

Open if needed.

[2021-04-13 01:52] #126 closed, assigned to RELNO

[2021-04-16 12:18] doorleyr opened #127 "Accessibility layer doesn't show variation well and is sensitive to spacing of grid"
The new accessibility layer does not show variations as expected in the tables I'm working on. In general, the colors appear to be almost binary: either blue or pink with no shades in between. For example, below is the shopping access layer in CityScopeJS, and the same layer shown in kepler.gl with a simple red to green heatmap.
<img width="1210" alt="Screenshot 2021-04-16 at 12 52 01" src="https:

[2021-04-17 22:38] RELNO commented on #127
From the get-go, I'm fine switching to ploy-layer. Worth considering however, that the module will have to send it on any update, since we don't have a way to 'hand-shake' with a module, and know if this is the first POST. Still, we can test and see if it's becoming a bottleneck on run time.

That's because there are only 2 colors in our current palate.  We can use reacher ones, results should be

[2021-04-26 11:51] guadalupebabio opened #129 "Table not recognized when using Capital Letters"
Although a table can be inputed with capital letters (like the example in the editor does with  `CityScopeJS`), it doesn't;t work when added to the url [https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope= CityScopeJS](https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=CityScopeJS), it need to be lower cases [https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=cityscopejs](https

[2021-04-26 18:29] #129 closed, assigned to nobody

[2021-04-29 14:22] crisjf opened #130 "Bottom numbers not live-updating"
BTW, I noticed that the bar live updates but the number at the bottom does not update at the same rate. This is not a big deal at all but might confuse some people trying to debug their indicators.

If anyone runs into this issue, just hit reload and the number will update.

![image](https://user-images.githubusercontent.com/8973959/116566355-afbf1200-a8d4-11eb-9f8f-b5e519b56b1b.png)

![image](htt

[2021-04-29 14:24] crisjf commented on #130
I just realized that it eventually updates.

[2021-04-29 14:28] RELNO commented on #130
yes, updates are pretty tied together for both https://github.com/CityScope/CS_cityscopeJS/blob/ef29336a6beaf6ad3e6e45c6da86a96351f54db8/src/views/CityScopeJS/VisContainer/BarChart/index.js#L89

[2021-04-29 20:53] crisjf commented on #130
Feel free to close this. I can live with the small lag :)

[2021-04-29 22:25] RELNO commented on #130
I'm in process of rebuilding data flows in the app, will keep this in mind

[2021-04-29 22:25] #130 closed, assigned to nobody

[2021-04-30 12:38] RELNO opened #131 "add GEOjson layer"
add geojson layer that can show different basemaps.

[2021-05-04 20:47] #131 closed, assigned to nobody

[2021-05-04 20:48] RELNO commented on #131
@agrignard @popabczhang  please see https://github.com/CityScope/CS_cityscopeJS/blob/master/src/views/CityScopeJS/DeckglMap/deckglLayers/geojsonLayer.md for posting a geojson layer. it's very basic ATM, but we extend its capabilities as need be.
![Screen Shot 2021-05-04 at 4 46 15 PM](https://user-images.githubusercontent.com/14296774/117067729-61f14200-acf8-11eb-80fd-f6dedf142cff.png)

[2021-05-20 14:17] crisjf opened #134 "Cell size in meters or in square meters?"
This is a bit confusing and an easy fix.

In the table constructor, it says the cell size should be specified in square meters, but it looks like the value given is really the length in meters of the side of the square cell. Which one is it?

![image](https://user-images.githubusercontent.com/8973959/118994608-7a966480-b954-11eb-9075-f494743be0af.png)

Is it 100m^2? meaning 10 by 10 meters? Or is

[2021-05-20 14:19] RELNO commented on #134
I see why it can be confusing. It's 100 per side of the cell.

[2021-05-21 15:43] agrignard commented on #131
Great!

[2021-05-21 15:47] agrignard opened #135 "Cannot see the ABM2 layer"
In link with this issue
https://github.com/CityScope/CS_Simulation_GAMA/issues/163

I am trying to fix the sending from GAMA, The indicator and heatmap seems ok, the information in ABM2 seems to be ok too but I cannot see it i the browser (by activating the Mobility Simulation toggle)

@relno Do I have to change something in the string sent? This is what I have for the dungeonmaster table, i it th

[2021-05-21 15:51] agrignard opened #136 "Readme link"
The link in the readme seems not to work?
https://cityscope.media.mit.edu/docs/frontend/CityScopeJS

I guess it needs to be updated to
https://cityscope.media.mit.edu/?

[2021-05-21 15:57] RELNO commented on #135
<img width="586" alt="Screen Shot 2021-05-21 at 11 55 28" src="https://user-images.githubusercontent.com/14296774/119165454-7e48ea80-ba2b-11eb-9fc6-bcb8b310af8e.png">
Comparing with Corktown, it looks like you're posting ints instead of strings for mode & profile.
Let me know if it's still broken afterwards

[2021-05-21 15:58] #136 closed, assigned to nobody

[2021-05-21 16:40] agrignard commented on #135
Ok I changed to string.
What about this one?
https://cityio.media.mit.edu/api/table/dungeonmaster/ABM2
I might still miss something (I don't see agent), maybe something related to the timestamps value?

[2021-05-21 16:47] agrignard commented on #135
It's ok seems to rework!! Cool

This issue is still open as I don't send the header information
https://github.com/CityScope/CS_CityIO/issues/128

[2021-05-25 16:30] doorleyr commented on #127
Let's try the simple changes you suggest above and see how it looks.

For colors, I think there should definitely be more of a gradient instead of just binary low/high. I think red-yellow-green as shown in my screenshot above is most intuitive for bad-moderate-good.

For the spacing, I'm ok to supply the grid_size but where should it go? Currently the top-level properties field is just a list of l

[2021-05-25 16:55] RELNO commented on #127
If you're ok with it, I'll be happy to keep things as they are for the time being; I'm working on a deeply gutted version (https://github.com/CityScope/CS_cityscopeJS/tree/detux) that among many other things bring back the old heatmap, and will allow users to include own color scheme. It's still very pre alpha, but it would be great to focus dev power there.
![Screen Shot 2021-05-25 at 12 52 17 PM

[2021-05-26 12:14] agrignard commented on #135
I am trying to access to this table to fix this issue but I see a white screen (seems to work for corktown)
https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=dungeonmaster/

Am i missing something?

This is what I get from GAMA , is there something wrong with the grid (the black cell)s?
<img width="737" alt="Screenshot 2021-05-26 at 14 18 25" src="https://user-images.githubusercontent.com/

[2021-05-26 13:51] agrignard opened #137 "Problem with dungeonmaster"
Just for information/archive/documentation and maybe it will help to fix another issue

Something seems corrupted in the dungeomaster grid.
https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=dungeonmaster/

I don't know exactly what but as some example and documenation are based on this guy (https://cityscope.media.mit.edu/modules/GAMA/), would it be possible to have it back?

Maybe we coul

[2021-05-26 13:51] agrignard commented on #135
The ABM2 seems working I close this one which is now documented in https://github.com/CityScope/CS_cityscopeJS/issues/137

[2021-05-26 13:51] #135 closed, assigned to nobody

[2021-05-26 14:18] agrignard opened #138 "Case sensitive issue in the Grid Editor"
In https://cityscope.media.mit.edu/CS_cityscopeJS/#/editor

We need to make sure that the string is forced to lower case.

Right now if a user enter a name with a Capital Case the url will be in minor case which might make it difficult for the user to refind its table if he is using the initial string with a Capital Case

[2021-05-26 17:00] RELNO commented on #137
I see this when debugging. might be that Brix is sending null data or a rouge module. @crisjf, any thoughts?
![Screen Shot 2021-05-26 at 12 58 55 PM](https://user-images.githubusercontent.com/14296774/119701267-28f14c80-be22-11eb-8ccb-15eb641e6861.png)

[2021-05-26 17:00] RELNO commented on #138
Will add this in the upcoming version.

[2021-05-26 20:19] crisjf commented on #137
The issue was with `GEOGRIDDATA`.

Not sure what happened though. I reset `GEOGRIDDATA` and it seems to be working now.

[2021-05-26 20:22] RELNO commented on #137
Thanks @crisjf. I suspect this endpoint is used in the new grid maker iterations, which might have damaged it. At least for the time being @agrignard should use a unique end point for the class.

[2021-05-26 20:28] crisjf commented on #137
I just checked the new grid-maker, but it doesn't seem to generate an error.

[2021-05-26 20:29] crisjf commented on #137
@agrignard remember you can always rewrite the table with a fresh one using the web-app:

https://cityscope.media.mit.edu/CS_cityscopeJS/

[2021-05-26 20:33] RELNO commented on #137
can you try a grid with transparent colors? I suspect it might have to do with that

[2021-05-26 20:52] crisjf commented on #137
https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=new_dungeon

Seems fine to me

[2021-05-26 21:32] RELNO commented on #137
Great, so I'll leave it as a randomly corrupted GEOGRIDDATA object. Will close for now.

[2021-05-27 09:29] agrignard commented on #137
Ok new_dungeon is a new table so it works. but it could be interesting to know why and how dungeonmaster is dead and could have been corrupted no? Maybe the json was corrupted by hand indeed in this case there is few thing we can do indeed. There is no json content validator right?

Also if we remove it then some documentation needs to be updated as they are pointing to dungeonmaster

[2021-05-27 14:05] crisjf commented on #137
@agrignard dungeonmaster was not dead when we closed the issue. Forget about `new_dungeon` that's a table I've bee using to test the new feature of creating a table from python using `brix`.

I haven't touched it since I left it running yesterday, so it is broken again, it might be something that GAMA is doing.

[2021-05-27 14:07] crisjf commented on #137
`dungeonmaster` is up and running again.

Remember you can use the editor to recreate it if it ever breaks again:
https://cityscope.media.mit.edu/CS_cityscopeJS/#/editor

[2021-05-27 14:07] #137 closed, assigned to nobody

[2021-07-13 13:08] n-h-tuan opened #140 "Getting GRID and GRIDDATA slowly in the evening in GTM +7"
I do not know the main reason why getting the GRID and GRIDDATA is so slow in the evening in Vietnam's Time (specifically, 7pm to 10pm), but in the morning, it just takes, maybe, 5 - 10 seconds to load everything.
Here is the table: hcm_scenario_0

[2021-07-13 13:11] n-h-tuan commented on #140
Maybe this problem is from our Internet Providers, they reduce our bandwidth at this time.

[2021-07-13 13:11] #140 closed, assigned to nobody

[2021-07-13 13:30] RELNO commented on #140
@nguyenledly thanks for letting us know. Usually these kind of issues are more relevant in https://github.com/CityScope/CS_CityIO or by pinging @yasushisakai. You can also use https://github.com/CityScope/CS_CityIO_uptime to track cityIO performance

[2021-11-09 11:12] agrignard opened #141 "How to erase a table on cityIO?"
With the refactoring of the cityIO, ones might to test some feature by creating a new table (e.g https://cityscope.media.mit.edu/CS_cityscopeJS/?cityscope=test_arno), however ones the test is done ones might want to delete this table from cityIO

is there a way to do so?

[2021-11-09 16:30] yasushisakai commented on #141
through the api you can, to de register the table fro the list.
https://cityscope.media.mit.edu/backend/API#delete-table

I thought there was a feature for this in the front end.

[2021-11-09 18:22] agrignard commented on #141
Ok thanks, I should have read the doc ;-)

[2021-11-09 18:22] #141 closed, assigned to yasushisakai, RELNO

[2022-01-08 17:14] vbaryshev opened #143 "Connect a locally deployed cityIO"
Hello, please tell me how to connect a locally deployed cityIO server to the cityscopeJS module? When creating a new grid, it is now uploaded to the cityIO cloud server.
Thanks for the reply.

local server cityIO:
1. redis-server
![Снимок экрана от 2022-01-08 18-28-06](https://user-images.githubusercontent.com/7428565/148653214-7af29975-1871-4e2d-91e5-a9da9f996621.png)
2. Doсker run cityIO, port 8

[2022-01-09 19:41] RELNO commented on #143
Hi @vbaryshev - I'm not certain if that's the full solution, but probably a good starting point is to make sure CityScopeJS is looking for the redis URI/port. Currently  CityScopeJS is hard-coded to talk to CityIO URI on the web.  You can start by cloning, running locally, and changing the default url here https://github.com/CityScope/CS_cityscopeJS/blob/master/src/settings/settings.json.

[2022-01-10 07:14] vbaryshev commented on #143
Thank you very much! With your comment, it turned out to move a little further into the deployment of a local project.
But for now, it is not possible to send data and save it in the database from CS_cityscopeJS to cityIO (Local running).
The server seems to be working correctly
![Снимок экрана от 2022-01-10 10-23-09](https://user-images.githubusercontent.com/7428565/148730500-56133dde-b2fd-4d70-9

[2022-01-10 14:28] RELNO commented on #143
I'm less familiar with how redis expects CRUD (I saw you're discussing that with @yasushisakai on another thread), but one simple thing before trying to implement it in CSjs, would be to test GET/POST reqs using `curl` to your redis db, as explained here: https://cityscope.media.mit.edu/backend/API. Can you post here the response for these calls? Also, please open the console and paste here the de

[2022-01-12 19:43] vbaryshev commented on #143
Hello, where is the sending of the data in cityIO I found, but how to fix it while there is no understanding (specify the correct path to the API tables of the local server)?
1.
![Снимок экрана от 2022-01-10 10-23-09](https://user-images.githubusercontent.com/7428565/149210055-915342fc-566a-4637-99e4-1fc535f4f843.png)
![Снимок экрана от 2022-01-10 19-25-25](https://user-images.githubusercontent.co

[2022-01-12 22:29] RELNO commented on #143
Hi @vbaryshev -- I'm a bit struggling to understand the issue, let's see what I got so far:
- you managed to run cityIO locally
- you're able to `GET`/`POST` to cityIO via `curl` or any other way
- you're able to run CSjs locally
- you have already changed your local CSjs development copy so that all API pointers are reflecting the `localhost` / redis

Please confirm that the above is correct befo

[2022-08-23 23:26] cruz-lucas opened #151 "Updating grid view with CityScoPy data"
Hey guys, I'm trying to replicate the project using lego bricks, scanning using CityScoPy.

I created the grid called "loon_test", in Rio, Brazil, and set every building type to be interactive with TUI, I'm scanning a table of mine and I see the data I scanned in with cityscopy change in the raw data online (cityscopy field). Great, so far so good. But where I'm supposed to see the interaction wit

[2022-08-25 13:49] RELNO commented on #151
@lucasdearaujocruz thanks for your interest in the project.

The grid you're scanning (happy CityScoPy works well for you!) is * not yet * converted to the online CSjs grid. I'm afraid that this is still WIP (@ThomasLengeling, I believe you looked into that) . In practice, we'd need to add a method that grabs that CSjs `GEOGRID` object, parse the `types`, and use these types to map the CityScoPy t

[2022-08-25 18:42] cruz-lucas commented on #151
Great! Thanks for the answer. I'm about to push a commit to my forked repo of cityscopy that updates GRIDDATA. It works, but I'm still debugging it. It turns out that when I couple the GRIDDATA update with cityscopy regular scanning, it breaks the page (it goes blank) and I have to reload the page.

Anyway, I think we may close the issue, thanks for the clarifying!

[2022-08-25 18:42] #151 closed, assigned to nobody

[2022-09-02 19:18] RELNO commented on #143
@vbaryshev I'm closing this since @doorleyr has built a new, lightweight cityIO replica (https://github.com/CityScope/cityIO_Flask) that will work well with the upcoming version of CSjs.

[2022-09-02 19:18] #143 closed, assigned to nobody

[2022-09-02 19:19] RELNO commented on #138
should be solved in `detux` branch/ new version. Reopen if not solved.

[2022-09-02 19:19] #138 closed, assigned to nobody

[2022-09-02 19:20] RELNO commented on #134
solved with new version.

[2022-09-02 19:20] #134 closed, assigned to nobody

[2022-09-02 19:21] RELNO commented on #127
fixed with new version. HeatMapLayer is broken and will not work when DeckGL map has shadow effects are on.

[2022-09-02 19:21] #127 closed, assigned to RELNO

[2022-09-02 19:26] RELNO commented on #123
This is not native to the new charts lib we use, but could be added if requested by many. Closing for now.

[2022-09-02 19:26] #123 closed, assigned to nobody

[2022-09-02 19:27] RELNO commented on #117
Resolved with new version - this is an issue with the table module and will be not fixed internally

[2022-09-02 19:27] #117 closed, assigned to RELNO

[2022-09-02 19:28] RELNO commented on #122
fixed in new version.

[2022-09-02 19:28] #122 closed, assigned to nobody

[2022-09-02 19:29] #121 closed, assigned to nobody

[2022-09-02 19:29] RELNO commented on #109
done in new version

[2022-09-02 19:29] #109 closed, assigned to nobody

[2022-09-09 18:00] doorleyr opened #156 "Scale of radar chart axes should be fixed to 0:1"
Currently, the scale of the radar chart axes will change depending on the maximum and minimum value of the indicators. See image below of a radar chart where the indicators are all between 0.1 and 0.2.
<img width="427" alt="Screenshot 2022-09-09 at 13 56 40" src="https://user-images.githubusercontent.com/7722116/189414956-bde395cb-ab05-4dc0-aeea-359f28492e15.png">

The min and max of the axes shou

[2022-09-09 19:55] #156 closed, assigned to RELNO

[2022-09-09 19:56] RELNO commented on #156
<img width="537" alt="Screen Shot 2022-09-09 at 3 55 09 PM" src="https://user-images.githubusercontent.com/14296774/189433205-1affb388-c31b-4e3e-acf8-70d8d1a9b5c4.png">

should be ok now

[2022-10-06 13:08] RELNO opened #157 "RFC - Simple/Coherent module-endpoints names"
- Start Date: Oct 6 2022
- RFC PR: WIP

# Summary

We should aim to simply/generalize the modules endpoints

# Basic example

access -> `HEATMAPS_MODULE`
abm2 -> `TRIPS_MODULE`
geojson -> `GEOJSON_MODLUE`
....
RULES:
- all should be caps
- all should end with `_MODULE`

# Motivation

The current naming is to narrow, inconsistent, and confusing

# Detailed design

both FE and BE should redesign in

[2022-10-19 13:35] RELNO opened #158 "Add global height scaler for all gird"
- test impact in editor / projection / deepscope

[2022-10-19 13:40] RELNO opened #159 "slowdown on selection of aggr trip"

[2022-10-19 14:24] #158 closed, assigned to doorleyr

[2022-10-19 14:59] RELNO opened #160 "projection mapping"
missing fail-safe rules for TUI json

[2022-10-19 15:39] RELNO commented on #160
closed in beb88a8bd1a325f8243957d6179fad103ea2d423

[2022-10-19 15:39] #160 closed, assigned to nobody

[2022-10-19 16:19] RELNO commented on #159
@doorleyr to check if this is ABM data issue

[2022-10-19 16:20] RELNO opened #161 "Projection map is not facing north"

[2022-10-19 16:21] #161 closed, assigned to nobody

[2022-10-19 16:21] RELNO commented on #161
@doorleyr reopen if not solved

[2022-10-19 20:23] doorleyr opened #162 "Grid colors in projection mode only update on browser refresh (Windows, local)"
I have two browser instances running the Volpe table on a Windows machine with local cityIO: one instance on screen in normal mode and one instance projected onto table in projection mode. The projection mode is only showing the grid.

 If I update the grid using the on-screen browser and submit the edits, the grid colors do not update in the projected instance. If I refresh the table browser, onl

[2022-10-19 20:37] RELNO commented on #162
I'll try to set up access to the remote machine later, but for now can you test the solution here: https://www.reddit.com/r/chrome/comments/jte9ca/how_to_keep_a_tab_active_in_the_background_in/

**chrome://discards/** in the machine and try to toggle off the discharge

[2022-10-19 20:58] doorleyr commented on #162
Just tried that solution but I get the same behaviour.

[2022-10-19 21:41] doorleyr commented on #162
Also, the TUI layer controls do update correctly. So the tab is still making API calls- not sure why it doesn't upgrade the grid.

[2022-10-19 23:29] #162 closed, assigned to RELNO

[2022-10-19 23:30] RELNO commented on #162
Should be solved now. TUI object caused conflict, but it seems working now.

[2022-10-21 10:25] LAAP opened #163 "Adapt from end Colors (Radar and heat maps) to Kent's-compatible palette color"
Hi,

Is it possible to adapt from ent Colors to Kent's-compatible palette color? similar to the "Old Volpe table?".

Remember in heat maps: "Red is bad, green is good".

Radar: "Blue is the new hope color", and green is the benchmark:

![CityScope-A-Data-Driven-Interactive-Simulation-Tool-for-Urban-Design](https://user-images.githubusercontent.com/19315213/197174302-3a155321-33c8-40f7-ae7a-2ac00af

[2022-10-21 10:36] LAAP opened #164 "KPIs Socio -Economical -Environmental"
Hi Ronan, how difficult is to have, Socio -Economical -Environmental indicators as Kent is asking for?

I am thinking about using what you already have and show very simple indicators:

**Socio =** this can be measure by Proximity in distance to (Amenities). We can show an aggregated KPI, and, maybe the 3 or 4 most popular like Health, Parks, Education

**Economical =** this can be measure by If w

[2022-10-21 20:27] doorleyr opened #165 "Bar charts y limits should always be between 0 and 1"
The bar charts currently adjust the y axis limits based on the highest value. So for example, if the bars are all 0.5, then the bars look perfect (unless you look closely at the acts tick labels. The y limits should always be from 0 to 1.

[2022-10-22 00:25] #165 closed, assigned to RELNO

[2022-10-22 14:04] RELNO commented on #159
Open if current version not solves

[2022-10-22 14:04] #159 closed, assigned to doorleyr, RELNO

[2022-10-25 20:30] agrignard commented on #163
I guess this is now solved thanks to #7b5804 and the new MIT Green Diffused RGB

[2022-10-25 20:48] RELNO commented on #163
Great effort by everyone in the team!! So happy we reached this milestone 🎉 let's hold for NFF code review and then we can close the issue

[2022-11-25 02:05] #163 closed, assigned to agrignard, doorleyr, RELNO

[2022-11-25 02:06] #164 closed, assigned to doorleyr

[2022-11-25 02:07] RELNO commented on #164
Probably more fitting @ https://github.com/CityScope/CS_Urban_Indicators